In [3]:
# libraries
import pandas as pd

In [111]:
def scrape_season_fixtures(num_seasons):
    """
    Scrapes La Liga fixtures data for multiple seasons and performs preprocessing.

    Changes made to the original data:
    1. Dropping columns "Notes", "Match Report", and "Venue".
    2. Dropping rows with more than 12 NaN values.
    3. Dropping rows with NaN values in the "Score" column.
    4. Renaming columns "xG" to "xG_home" and "xG.1" to "xG_away".
    5. Splitting the "Score" column into "goals_h" (home team goals) and "goals_a" (away team goals).
    6. Categorizing the "Time" column into three groups: 0 for time between 00:00 to 15:59,
       1 for time between 16:00 to 19:59, and 2 for time between 20:00 to 23:59.

    Args:
    - num_seasons (int): Number of seasons to scrape data for.

    Returns:
    - df_combined (DataFrame): Combined DataFrame containing scraped and preprocessed data.
    - team_label_mapping (dict): Dictionary mapping team names to numeric labels.
    """

    current_season = 2024
    url_base = 'https://fbref.com/en/comps/12/'
    df_list = []
    team_label_mapping = {}  
    label_counter = 0
    home_team_avg_attendance = {}

    for i in range(num_seasons):
        season_end = current_season - i
        season_start = season_end - 1
        url_season = f'{url_base}{season_start}-{season_end}/schedule/{season_start}-{season_end}-La-Liga-Scores-and-Fixtures'
        df = pd.read_html(url_season)[0]
        df['Season'] = f'{season_start}-{season_end}'
        df.drop(columns=["Notes", "Match Report", "Venue"], inplace=True)
        df = df.dropna(thresh=df.shape[1] - 12 + 1)
        df = df.dropna(subset=['Score'])
        df.rename(columns={"xG": "xG_home", "xG.1": "xG_away"}, inplace=True)
        df[['goals_h', 'goals_a']] = df['Score'].str.split('–', expand=True).astype(int)

        # Categorize the 'Time' column
        df['Time'] = pd.to_datetime(df['Time']).dt.hour
        df['Time_group'] = pd.cut(df['Time'], bins=[0, 16, 20, 24], labels=[0, 1, 2], right=False)
        df.drop(columns=['Time'], inplace=True)  # Drop the original 'Time' column
        
        for team in pd.concat([df['Home'], df['Away']]).unique():
            if team not in team_label_mapping:
                team_label_mapping[team] = label_counter
                label_counter += 1
                home_team_avg_attendance[team] = 0
        df_list.append(df)

    df_combined = pd.concat(df_list, ignore_index=True)

    for home_team in home_team_avg_attendance:
        home_team_avg_attendance[home_team] = df_combined[df_combined['Home'] == home_team]['Attendance'].mean().round().astype(int)

    df_combined['Attendance'] = df_combined.apply(lambda row: home_team_avg_attendance[row['Home']] if pd.isna(row['Attendance']) else row['Attendance'], axis=1)

    df_combined['Home'] = df_combined['Home'].map(team_label_mapping)
    df_combined['Away'] = df_combined['Away'].map(team_label_mapping)
    df_combined['target'] = df_combined.apply(lambda x: 0 if x['goals_h'] > x['goals_a'] else (1 if x['goals_a'] > x['goals_h'] else 2), axis=1)

    return df_combined, team_label_mapping

In [16]:
def scrape_season_fixtures(num_seasons):
    """
    Scrapes La Liga fixtures data for multiple seasons and performs preprocessing.

    Changes made to the original data:
    1. Dropping columns "Notes", "Match Report", and "Venue".
    2. Dropping rows with more than 12 NaN values.
    3. Dropping rows with NaN values in the "Score" column.
    4. Renaming columns "xG" to "xG_home" and "xG.1" to "xG_away".
    5. Splitting the "Score" column into "goals_h" (home team goals) and "goals_a" (away team goals).
    6. Categorizing the "Time" column into three groups: 0 for time between 00:00 to 15:59,
       1 for time between 16:00 to 19:59, and 2 for time between 20:00 to 23:59.
    7. Filling NaN values in the "xG_home" and "xG_away" columns with the average xG per team across all seasons.

    Args:
    - num_seasons (int): Number of seasons to scrape data for.

    Returns:
    - df_combined (DataFrame): Combined DataFrame containing scraped and preprocessed data.
    - team_label_mapping (dict): Dictionary mapping team names to numeric labels.
    """

    current_season = 2024
    url_base = 'https://fbref.com/en/comps/12/'
    df_list = []
    team_label_mapping = {}  
    label_counter = 0
    home_team_avg_attendance = {}

    for i in range(num_seasons):
        season_end = current_season - i
        season_start = season_end - 1
        url_season = f'{url_base}{season_start}-{season_end}/schedule/{season_start}-{season_end}-La-Liga-Scores-and-Fixtures'
        df = pd.read_html(url_season)[0]
        df['Season'] = f'{season_start}-{season_end}'
        df.drop(columns=["Notes", "Match Report", "Venue"], inplace=True)
        df = df.dropna(thresh=df.shape[1] - 12 + 1)
        df = df.dropna(subset=['Score'])
        df.rename(columns={"xG": "xG_home", "xG.1": "xG_away"}, inplace=True)
        df[['goals_h', 'goals_a']] = df['Score'].str.split('–', expand=True).astype(int)

        # Categorize the 'Time' column
        df['Time'] = pd.to_datetime(df['Time'], errors='coerce').dt.hour
        df['Time_group'] = pd.cut(df['Time'], bins=[0, 16, 20, 24], labels=[0, 1, 2], right=False)
        df.drop(columns=['Time'], inplace=True)  # Drop the original 'Time' column
        
        for team in pd.concat([df['Home'], df['Away']]).unique():
            if team not in team_label_mapping:
                team_label_mapping[team] = label_counter
                label_counter += 1
                home_team_avg_attendance[team] = 0
        df_list.append(df)

    df_combined = pd.concat(df_list, ignore_index=True)

    


    for home_team in home_team_avg_attendance:
        home_team_avg_attendance[home_team] = df_combined[df_combined['Home'] == home_team]['Attendance'].mean().round().astype(int)

    df_combined['Attendance'] = df_combined.apply(lambda row: home_team_avg_attendance[row['Home']] if pd.isna(row['Attendance']) else row['Attendance'], axis=1)

    df_combined['Home'] = df_combined['Home'].map(team_label_mapping)
    df_combined['Away'] = df_combined['Away'].map(team_label_mapping)
    df_combined['target'] = df_combined.apply(lambda x: 0 if x['goals_h'] > x['goals_a'] else (1 if x['goals_a'] > x['goals_h'] else 2), axis=1)

    
    for i in df_combined['Home'].unique():
        # Filter DataFrame for team i in the "Home" column
        team_home = df_combined[df_combined['Home'] == i]
        
        # Calculate the average of "xG_home" for team i, ignoring NaN values
        avg_xG_home_team = team_home['xG_home'].mean(skipna=True)
        
        # Filter DataFrame for team i in the "Away" column
        team_away = df_combined[df_combined['Away'] == i]
    
        # Calculate the average of "xG_away" for team i, ignoring NaN values
        avg_xG_away_team = team_away['xG_away'].mean(skipna=True)
    
        # Fill NaN values in 'xG_home' and 'xG_away' columns for team i
        df_combined.loc[df_combined['Home'] == i, 'xG_home'] = df_combined.loc[df_combined['Home'] == i, 'xG_home'].fillna(avg_xG_home_team)
        df_combined.loc[df_combined['Away'] == i, 'xG_away'] = df_combined.loc[df_combined['Away'] == i, 'xG_away'].fillna(avg_xG_away_team)

        nan_condition = (df_combined['Home'] == i) & (df_combined['xG_home'].isna()) & (df_combined['Away'] == i) & (df_combined['xG_away'].isna())
        df_combined.loc[nan_condition, ['xG_home', 'xG_away']] = 0.0

        
    
    return df_combined, team_label_mapping

In [22]:
def scrape_future_fixtures(wk, current_season):
    """
    Scrapes La Liga fixtures data for a specific week and current season.

    Args:
    - wk (int): Week number to scrape data for.
    - current_season (int): Current season (year) to scrape data for.

    Returns:
    - df_future (DataFrame): DataFrame containing scraped data for future fixtures.
    """

    url_base = 'https://fbref.com/en/comps/12/'
    url_week = f'{url_base}{current_season - 1}-{current_season}/schedule/La-Liga-Scores-and-Fixtures'
    df_week = pd.read_html(url_week)[0]

    # Filter DataFrame for the specified week and current season
    season_end = current_season
    season_start = season_end - 1
    df_week['Season'] = f'{season_start}-{season_end}'
    df_future = df_week[(df_week['Wk'] == wk) & (df_week['Season'] == f'{current_season - 1}-{current_season}')]

    return df_future

In [2]:
url_df = 'https://fbref.com/en/comps/12/2022-2023/schedule/2022-2023-La-Liga-Scores-and-Fixtures'

In [3]:
df = pd.read_html(url_df)
df

[       Wk  Day        Date   Time        Home   xG Score  xG.1  \
 0     1.0  Fri  2022-08-12  21:00     Osasuna  1.5   2–1   0.9
 1     1.0  Sat  2022-08-13  17:00  Celta Vigo  0.4   2–2   1.1
 2     1.0  Sat  2022-08-13  19:00  Valladolid  1.0   0–3   1.5
 3     1.0  Sat  2022-08-13  21:00   Barcelona  1.9   0–0   0.5
 4     1.0  Sun  2022-08-14  17:30       Cádiz  0.2   0–1   1.7
 ..    ...  ...         ...    ...         ...  ...   ...   ...
 413  38.0  Sun  2023-06-04  21:00  Valladolid  0.9   0–0   0.5
 414  38.0  Sun  2023-06-04  21:00       Betis  0.6   1–1   1.2
 415  38.0  Sun  2023-06-04  21:00       Elche  1.6   1–1   2.5
 416  38.0  Sun  2023-06-04  21:00  Celta Vigo  0.7   2–1   1.2
 417  38.0  Sun  2023-06-04  21:00    Espanyol  0.6   3–3   1.8

                Away  Attendance                            Venue  \
 0           Sevilla     18536.0                 Estadio El Sadar
 1          Espanyol     13859.0              Estadio de Balaídos
 2        Villarreal     17543.0  Estadio Municipal José Zorrilla
 3    Rayo Vallecano     81104.0                         Camp Nou
 4     Real Sociedad     16570.0         Estadio Nuevo Mirandilla
 ..              ...         ...                              ...
 413          Getafe     25517.0  Estadio Municipal José Zorrilla
 414        Valencia     54087.0        Estadio Benito Villamarín
 415           Cádiz     16585.0   Estadio Manuel Martínez Valero
 416       Barcelona     23365.0              Estadio de Balaídos
 417         Almería     14213.0                     RCDE Stadium

                       Referee  Match Report  Notes
 0            Carlos del Cerro  Match Report    NaN
 1    Miguel Ángel Ortiz Arias  Match Report    NaN
 2                Mario Melero  Match Report    NaN
 3         Alejandro Hernández  Match Report    NaN
 4         Isidro Díaz de Mera  Match Report    NaN
 ..                        ...           ...    ...
 413         José Luis Munuera  Match Report    NaN
 414            Alberola Rojas  Match Report    NaN
 415                 Jesús Gil  Match Report    NaN
 416               Juan Pulido  Match Report    NaN
 417                César Soto  Match Report    NaN

 [418 rows x 14 columns]]

In [5]:
df = pd.read_html(url_df)[0]

In [6]:
df.head()

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,1.0,Fri,2022-08-12,21:00,Osasuna,1.5,2–1,0.9,Sevilla,18536.0,Estadio El Sadar,Carlos del Cerro,Match Report,NaN
1,1.0,Sat,2022-08-13,17:00,Celta Vigo,0.4,2–2,1.1,Espanyol,13859.0,Estadio de Balaídos,Miguel Ángel Ortiz Arias,Match Report,NaN
2,1.0,Sat,2022-08-13,19:00,Valladolid,1.0,0–3,1.5,Villarreal,17543.0,Estadio Municipal José Zorrilla,Mario Melero,Match Report,NaN
3,1.0,Sat,2022-08-13,21:00,Barcelona,1.9,0–0,0.5,Rayo Vallecano,81104.0,Camp Nou,Alejandro Hernández,Match Report,NaN
4,1.0,Sun,2022-08-14,17:30,Cádiz,0.2,0–1,1.7,Real Sociedad,16570.0,Estadio Nuevo Mirandilla,Isidro Díaz de Mera,Match Report,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Wk            380 non-null    float64
 1   Day           380 non-null    object
 2   Date          380 non-null    object
 3   Time          380 non-null    object
 4   Home          380 non-null    object
 5   xG            380 non-null    float64
 6   Score         380 non-null    object
 7   xG.1          380 non-null    float64
 8   Away          380 non-null    object
 9   Attendance    380 non-null    float64
 10  Venue         380 non-null    object
 11  Referee       380 non-null    object
 12  Match Report  380 non-null    object
 13  Notes         0 non-null      float64
dtypes: float64(5), object(9)
memory usage: 45.8+ KB

In [14]:
df.drop(columns=["Notes", "Match Report"], axis =1, inplace = True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Wk          380 non-null    float64
 1   Day         380 non-null    object
 2   Date        380 non-null    object
 3   Time        380 non-null    object
 4   Home        380 non-null    object
 5   xG          380 non-null    float64
 6   Score       380 non-null    object
 7   xG.1        380 non-null    float64
 8   Away        380 non-null    object
 9   Attendance  380 non-null    float64
 10  Venue       380 non-null    object
 11  Referee     380 non-null    object
dtypes: float64(4), object(8)
memory usage: 39.3+ KB

In [19]:
df[df['Wk'] == 17]

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee
176,17.0,Fri,2023-01-13,21:00,Celta Vigo,2.1,1–1,0.1,Villarreal,13931.0,Estadio de Balaídos,Alberola Rojas
177,17.0,Sat,2023-01-14,14:00,Valladolid,0.6,0–1,1.1,Rayo Vallecano,19969.0,Estadio Municipal José Zorrilla,Mario Melero
178,17.0,Sat,2023-01-14,16:15,Girona,2.2,2–1,1.1,Sevilla,12035.0,Estadi Municipal de Montilivi,Valentín Pizarro
179,17.0,Sat,2023-01-14,18:30,Osasuna,1.6,1–0,0.5,Mallorca,19887.0,Estadio El Sadar,César Soto
180,17.0,Sat,2023-01-14,21:00,Real Sociedad,2.0,3–1,0.3,Athletic Club,38296.0,Reale Arena,Guillermo Cuadra
181,17.0,Sun,2023-01-15,14:00,Getafe,0.5,1–2,0.8,Espanyol,10286.0,Coliseum Alfonso Pérez,Jorge Figueroa
182,17.0,Sun,2023-01-15,16:15,Almería,1.4,1–1,2.4,Atlético Madrid,14128.0,Power Horse Stadium,José Sánchez
183,17.0,Mon,2023-01-16,21:00,Cádiz,1.6,1–1,0.6,Elche,17389.0,Estadio Nuevo Mirandilla,Carlos del Cerro
207,17.0,Wed,2023-02-01,21:00,Betis,0.6,1–2,1.9,Barcelona,48181.0,Estadio Benito Villamarín,Ricardo de Burgos
208,17.0,Thu,2023-02-02,21:00,Real Madrid,2.3,2–0,0.2,Valencia,51926.0,Estadio Santiago Bernabéu,Alberola Rojas

In [17]:
test_df, team_labels=scrape_season_fixtures(10)

C:\Users\Pedro\AppData\Local\Temp\ipykernel_16736\3533559302.py:43: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'], errors='coerce').dt.hour
C:\Users\Pedro\AppData\Local\Temp\ipykernel_16736\3533559302.py:43: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'], errors='coerce').dt.hour
C:\Users\Pedro\AppData\Local\Temp\ipykernel_16736\3533559302.py:43: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'], errors='coerce').dt.hour
C:\Users\Pedro\AppData\Local\Temp\ipykernel_16736\3533559302.py:43: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'], errors='coerce').dt.hour
C:\Users\Pedro\AppData\Local\Temp\ipykernel_16736\3533559302.py:43: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'], errors='coerce').dt.hour
C:\Users\Pedro\AppData\Local\Temp\ipykernel_16736\3533559302.py:43: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'], errors='coerce').dt.hour
C:\Users\Pedro\AppData\Local\Temp\ipykernel_16736\3533559302.py:43: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'], errors='coerce').dt.hour
C:\Users\Pedro\AppData\Local\Temp\ipykernel_16736\3533559302.py:43: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'], errors='coerce').dt.hour
C:\Users\Pedro\AppData\Local\Temp\ipykernel_16736\3533559302.py:43: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'], errors='coerce').dt.hour
C:\Users\Pedro\AppData\Local\Temp\ipykernel_16736\3533559302.py:43: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'], errors='coerce').dt.hour

In [4]:
team_labels

{'Almería': 0,
 'Sevilla': 1,
 'Real Sociedad': 2,
 'Las Palmas': 3,
 'Athletic Club': 4,
 'Celta Vigo': 5,
 'Villarreal': 6,
 'Getafe': 7,
 'Cádiz': 8,
 'Atlético Madrid': 9,
 'Mallorca': 10,
 'Valencia': 11,
 'Osasuna': 12,
 'Girona': 13,
 'Barcelona': 14,
 'Betis': 15,
 'Alavés': 16,
 'Granada': 17,
 'Rayo Vallecano': 18,
 'Real Madrid': 19,
 'Valladolid': 20,
 'Espanyol': 21,
 'Elche': 22,
 'Levante': 23,
 'Eibar': 24,
 'Huesca': 25,
 'Leganés': 26,
 'La Coruña': 27,
 'Málaga': 28,
 'Sporting Gijón': 29,
 'Córdoba': 30}

In [173]:
team_avg_attendance = test_df.groupby('Home')['Attendance'].mean()

for team, label in team_labels.items():
    avg_attendance = team_avg_attendance[label]
    print(f"Average attendance for {team}: {avg_attendance}")

Average attendance for Almería: 12294.134615384615
Average attendance for Sevilla: 33494.67741935484
Average attendance for Real Sociedad: 24915.935135135136
Average attendance for Las Palmas: 20675.083333333332
Average attendance for Athletic Club: 40387.215053763444
Average attendance for Celta Vigo: 16434.221621621622
Average attendance for Villarreal: 16612.360215053763
Average attendance for Getafe: 9746.397590361446
Average attendance for Cádiz: 16494.11267605634
Average attendance for Atlético Madrid: 51492.56989247312
Average attendance for Mallorca: 14724.444444444445
Average attendance for Valencia: 37840.37837837838
Average attendance for Osasuna: 17407.345454545455
Average attendance for Girona: 11241.112676056338
Average attendance for Barcelona: 70564.06989247311
Average attendance for Betis: 43861.754491017964
Average attendance for Alavés: 16435.703125
Average attendance for Granada: 15932.875
Average attendance for Rayo Vallecano: 11134.146788990825
Average attendance for Real Madrid: 64266.902702702704
Average attendance for Valladolid: 19936.947368421053
Average attendance for Espanyol: 19938.88157894737
Average attendance for Elche: 18792.855263157893
Average attendance for Levante: 19042.66165413534
Average attendance for Eibar: 5224.8646616541355
Average attendance for Huesca: 6604.815789473684
Average attendance for Leganés: 10197.302631578947
Average attendance for La Coruña: 21975.53947368421
Average attendance for Málaga: 21642.065789473683
Average attendance for Sporting Gijón: 23313.973684210527
Average attendance for Córdoba: 16347.842105263158

In [7]:
test_df.Day.value_counts()

Day
Sun    1416
Sat    1291
Fri     302
Mon     241
Wed     211
Thu     132
Tue     121
Name: count, dtype: int64

In [100]:
test_df.Time.value_counts()

Time
21:00    670
18:30    521
16:15    395
20:45    269
14:00    238
12:00    179
22:00    178
16:00    154
19:00    147
20:00    138
20:30    133
19:30    129
13:00    116
21:30     88
18:15     88
17:00     75
18:00     38
17:30     33
22:05     26
20:15     18
22:15     17
19:45     16
19:15     10
17:15      6
21:15      5
22:30      5
23:00      4
18:45      3
16:45      3
15:15      3
15:00      2
21:05      1
16:30      1
Name: count, dtype: int64

In [9]:
test_df.head(10)

,Wk,Day,Date,Home,xG_home,Score,xG_away,Away,Attendance,Referee,Season,goals_h,goals_a,Time_group,target
0,1.0,Fri,2023-08-11,0,1.4,0–2,2.1,18,14837.0,Alberola Rojas,2023-2024,0,2,1,1
1,1.0,Fri,2023-08-11,1,0.7,1–2,1.1,11,34184.0,José Sánchez,2023-2024,1,2,2,1
2,1.0,Sat,2023-08-12,2,1.0,1–1,0.8,13,30848.0,Francisco Hernández,2023-2024,1,1,1,2
3,1.0,Sat,2023-08-12,3,0.9,1–1,1.6,10,24100.0,Víctor García,2023-2024,1,1,1,2
4,1.0,Sat,2023-08-12,4,0.4,0–2,0.9,19,48927.0,Jesús Gil,2023-2024,0,2,2,1
5,1.0,Sun,2023-08-13,5,1.0,0–2,1.0,12,20269.0,Pablo González,2023-2024,0,2,1,1
6,1.0,Sun,2023-08-13,6,0.9,1–2,1.1,15,17825.0,Miguel Ángel Ortiz Arias,2023-2024,1,2,1,1
7,1.0,Sun,2023-08-13,7,0.6,0–0,1.4,14,13410.0,César Soto,2023-2024,0,0,2,2
8,1.0,Mon,2023-08-14,8,0.7,1–0,0.3,16,19306.0,Isidro Díaz de Mera,2023-2024,1,0,1,0
9,1.0,Mon,2023-08-14,9,2.4,3–1,0.9,17,56164.0,Juan Pulido,2023-2024,3,1,2,0

In [11]:
test_df[test_df["Home"] == 19]

,Wk,Day,Date,Home,xG_home,Score,xG_away,Away,Attendance,Referee,Season,goals_h,goals_a,Time_group,target
33,4.0,Sat,2023-09-02,19,2.800000,2–1,0.400000,7,66747.0,Mario Melero,2023-2024,2,1,1,0
47,5.0,Sun,2023-09-17,19,2.000000,2–1,1.600000,2,70092.0,César Soto,2023-2024,2,1,2,0
62,7.0,Wed,2023-09-27,19,1.700000,2–0,0.700000,3,65017.0,José Luis Munuera,2023-2024,2,0,1,0
81,9.0,Sat,2023-10-07,19,3.200000,4–0,0.500000,12,70864.0,Guillermo Cuadra,2023-2024,4,0,1,0
117,12.0,Sun,2023-11-05,19,2.200000,0–0,0.100000,18,70220.0,Juan Martínez,2023-2024,0,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3634,31.0,Sat,2015-04-11,19,2.046875,3–0,1.051316,24,73965.0,Alejandro Hernández,2014-2015,3,0,1,0
3647,32.0,Sat,2015-04-18,19,2.046875,3–1,0.810526,28,78354.0,Iñaki Bikandi,2014-2015,3,1,2,0
3669,34.0,Wed,2015-04-29,19,2.046875,3–0,1.011765,0,63813.0,Ignacio Iglesias,2014-2015,3,0,2,0
3687,36.0,Sat,2015-05-09,19,2.046875,2–2,1.089844,11,79897.0,Carlos Clos Gómez,2014-2015,2,2,2,2
3713,38.0,Sat,2015-05-23,19,2.046875,7–3,0.876744,7,63769.0,José Teixeira,2014-2015,7,3,2,0

In [5]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3714 entries, 0 to 3713
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Wk          3714 non-null   float64
 1   Day         3714 non-null   object
 2   Date        3714 non-null   object
 3   Home        3714 non-null   int64
 4   xG_home     3657 non-null   float64
 5   Score       3714 non-null   object
 6   xG_away     3657 non-null   float64
 7   Away        3714 non-null   int64
 8   Attendance  3714 non-null   float64
 9   Referee     3714 non-null   object
 10  Season      3714 non-null   object
 11  goals_h     3714 non-null   int32
 12  goals_a     3714 non-null   int32
 13  Time_group  3714 non-null   category
 14  target      3714 non-null   int64
dtypes: category(1), float64(4), int32(2), int64(3), object(5)
memory usage: 381.1+ KB

In [23]:
test_df.target.value_counts()

target
0    1694
1    1054
2     970
Name: count, dtype: int64

In [108]:
test_df["Referee"].nunique()

48

In [17]:
test_df[(test_df["Wk"]== 30) & (test_df["Home"]==14)]

,Wk,Day,Date,Home,xG_home,Score,xG_away,Away,Attendance,Referee,Season,goals_h,goals_a,Time_group,target
293,30.0,Sat,2024-03-30,14,1.700000,1–0,0.300000,3,46788.0,Mateo Busquets,2023-2024,1,0,2,0
591,30.0,Sun,2023-04-23,14,1.800000,1–0,1.300000,9,80965.0,José Sánchez,2022-2023,1,0,1,0
971,30.0,Sun,2022-04-03,14,1.900000,1–0,0.600000,1,76112.0,José Sánchez,2021-2022,1,0,2,0
2866,30.0,Wed,2017-04-05,14,2.181538,3–0,1.175194,1,85511.0,Carlos Clos,2016-2017,3,0,1,0
3628,30.0,Wed,2015-04-08,14,2.181538,4–0,1.011765,0,73837.0,Alejandro Hernández,2014-2015,4,0,2,0

In [126]:
# Ensure that team labels are mapped to team names correctly
team_labels_names = {v: k for k, v in team_labels.items()}

# Iterate over each season and print the average xG for each team
for season in test_df['Season'].unique():
    print(f"Season: {season}")
    for team_label, team_name in team_labels_names.items():
        # Check if the team_label exists in average_xG_per_team_season_home and average_xG_per_team_season_away
        if team_label in average_xG_per_team_season_home[season].index:
            avg_xG_home = average_xG_per_team_season_home[season][team_label]
        else:
            avg_xG_home = 0.0
            
        if team_label in average_xG_per_team_season_away[season].index:
            avg_xG_away = average_xG_per_team_season_away[season][team_label]
        else:
            avg_xG_away = 0.0
            
        if avg_xG_home != 0.0 or avg_xG_away != 0.0:  # Exclude teams with xG = 0.00
            print(f"Team: {team_name}, Average xG (Home): {avg_xG_home:.2f}, Average xG (Away): {avg_xG_away:.2f}")
    print()

Season: 2023-2024
Team: Almería, Average xG (Home): 1.51, Average xG (Away): 1.01
Team: Sevilla, Average xG (Home): 1.38, Average xG (Away): 0.84
Team: Real Sociedad, Average xG (Home): 1.26, Average xG (Away): 1.29
Team: Las Palmas, Average xG (Home): 0.95, Average xG (Away): 0.79
Team: Athletic Club, Average xG (Home): 1.97, Average xG (Away): 1.06
Team: Celta Vigo, Average xG (Home): 1.42, Average xG (Away): 1.07
Team: Villarreal, Average xG (Home): 1.69, Average xG (Away): 1.17
Team: Getafe, Average xG (Home): 1.21, Average xG (Away): 1.19
Team: Cádiz, Average xG (Home): 1.09, Average xG (Away): 0.65
Team: Atlético Madrid, Average xG (Home): 2.09, Average xG (Away): 1.32
Team: Mallorca, Average xG (Home): 0.91, Average xG (Away): 1.29
Team: Valencia, Average xG (Home): 1.19, Average xG (Away): 0.92
Team: Osasuna, Average xG (Home): 1.21, Average xG (Away): 0.94
Team: Girona, Average xG (Home): 1.69, Average xG (Away): 1.73
Team: Barcelona, Average xG (Home): 2.36, Average xG (Away): 1.94
Team: Betis, Average xG (Home): 1.35, Average xG (Away): 0.91
Team: Alavés, Average xG (Home): 1.33, Average xG (Away): 1.12
Team: Granada, Average xG (Home): 1.40, Average xG (Away): 0.86
Team: Rayo Vallecano, Average xG (Home): 1.25, Average xG (Away): 0.99
Team: Real Madrid, Average xG (Home): 2.22, Average xG (Away): 1.60

Season: 2022-2023
Team: Almería, Average xG (Home): 1.37, Average xG (Away): 1.01
Team: Sevilla, Average xG (Home): 1.51, Average xG (Away): 0.93
Team: Real Sociedad, Average xG (Home): 1.51, Average xG (Away): 1.28
Team: Athletic Club, Average xG (Home): 1.37, Average xG (Away): 1.48
Team: Celta Vigo, Average xG (Home): 1.15, Average xG (Away): 1.09
Team: Villarreal, Average xG (Home): 2.05, Average xG (Away): 1.19
Team: Getafe, Average xG (Home): 1.25, Average xG (Away): 0.67
Team: Cádiz, Average xG (Home): 1.15, Average xG (Away): 1.03
Team: Atlético Madrid, Average xG (Home): 1.79, Average xG (Away): 1.45
Team: Mallorca, Average xG (Home): 1.04, Average xG (Away): 0.82
Team: Valencia, Average xG (Home): 1.41, Average xG (Away): 1.21
Team: Osasuna, Average xG (Home): 1.39, Average xG (Away): 0.69
Team: Girona, Average xG (Home): 1.53, Average xG (Away): 1.12
Team: Barcelona, Average xG (Home): 2.27, Average xG (Away): 1.71
Team: Betis, Average xG (Home): 1.43, Average xG (Away): 1.27
Team: Rayo Vallecano, Average xG (Home): 1.34, Average xG (Away): 0.96
Team: Real Madrid, Average xG (Home): 2.26, Average xG (Away): 1.74
Team: Valladolid, Average xG (Home): 1.29, Average xG (Away): 0.75
Team: Espanyol, Average xG (Home): 1.57, Average xG (Away): 0.97
Team: Elche, Average xG (Home): 1.29, Average xG (Away): 0.68

Season: 2021-2022
Team: Sevilla, Average xG (Home): 1.29, Average xG (Away): 0.93
Team: Real Sociedad, Average xG (Home): 1.47, Average xG (Away): 1.24
Team: Athletic Club, Average xG (Home): 1.51, Average xG (Away): 1.10
Team: Celta Vigo, Average xG (Home): 1.35, Average xG (Away): 0.93
Team: Villarreal, Average xG (Home): 1.97, Average xG (Away): 1.42
Team: Getafe, Average xG (Home): 0.81, Average xG (Away): 0.73
Team: Cádiz, Average xG (Home): 1.21, Average xG (Away): 0.88
Team: Atlético Madrid, Average xG (Home): 1.54, Average xG (Away): 1.34
Team: Mallorca, Average xG (Home): 1.21, Average xG (Away): 0.83
Team: Valencia, Average xG (Home): 1.13, Average xG (Away): 0.92
Team: Osasuna, Average xG (Home): 1.07, Average xG (Away): 0.88
Team: Barcelona, Average xG (Home): 1.78, Average xG (Away): 1.55
Team: Betis, Average xG (Home): 1.56, Average xG (Away): 1.26
Team: Alavés, Average xG (Home): 1.19, Average xG (Away): 0.76
Team: Granada, Average xG (Home): 1.12, Average xG (Away): 0.94
Team: Rayo Vallecano, Average xG (Home): 1.37, Average xG (Away): 0.88
Team: Real Madrid, Average xG (Home): 2.02, Average xG (Away): 1.76
Team: Espanyol, Average xG (Home): 1.12, Average xG (Away): 0.82
Team: Elche, Average xG (Home): 1.09, Average xG (Away): 0.69
Team: Levante, Average xG (Home): 1.65, Average xG (Away): 1.25

Season: 2020-2021
Team: Sevilla, Average xG (Home): 1.46, Average xG (Away): 1.43
Team: Real Sociedad, Average xG (Home): 1.87, Average xG (Away): 1.31
Team: Athletic Club, Average xG (Home): 1.38, Average xG (Away): 0.88
Team: Celta Vigo, Average xG (Home): 1.56, Average xG (Away): 1.09
Team: Villarreal, Average xG (Home): 1.63, Average xG (Away): 1.35
Team: Getafe, Average xG (Home): 0.89, Average xG (Away): 0.92
Team: Cádiz, Average xG (Home): 0.93, Average xG (Away): 0.88
Team: Atlético Madrid, Average xG (Home): 1.55, Average xG (Away): 1.22
Team: Valencia, Average xG (Home): 1.34, Average xG (Away): 0.92
Team: Osasuna, Average xG (Home): 1.00, Average xG (Away): 1.04
Team: Barcelona, Average xG (Home): 2.11, Average xG (Away): 1.76
Team: Betis, Average xG (Home): 1.34, Average xG (Away): 1.24
Team: Alavés, Average xG (Home): 1.24, Average xG (Away): 0.99
Team: Granada, Average xG (Home): 1.08, Average xG (Away): 1.09
Team: Real Madrid, Average xG (Home): 1.52, Average xG (Away): 1.74
Team: Valladolid, Average xG (Home): 1.27, Average xG (Away): 0.83
Team: Elche, Average xG (Home): 0.83, Average xG (Away): 0.74
Team: Levante, Average xG (Home): 1.17, Average xG (Away): 0.96
Team: Eibar, Average xG (Home): 1.16, Average xG (Away): 1.23
Team: Huesca, Average xG (Home): 1.06, Average xG (Away): 0.97

Season: 2019-2020
Team: Sevilla, Average xG (Home): 1.52, Average xG (Away): 1.28
Team: Real Sociedad, Average xG (Home): 1.57, Average xG (Away): 1.00
Team: Athletic Club, Average xG (Home): 1.37, Average xG (Away): 0.79
Team: Celta Vigo, Average xG (Home): 1.17, Average xG (Away): 0.89
Team: Villarreal, Average xG (Home): 1.75, Average xG (Away): 1.60
Team: Getafe, Average xG (Home): 1.28, Average xG (Away): 0.92
Team: Atlético Madrid, Average xG (Home): 1.60, Average xG (Away): 1.40
Team: Mallorca, Average xG (Home): 1.26, Average xG (Away): 0.93
Team: Valencia, Average xG (Home): 1.34, Average xG (Away): 0.95
Team: Osasuna, Average xG (Home): 1.61, Average xG (Away): 0.99
Team: Barcelona, Average xG (Home): 1.99, Average xG (Away): 1.49
Team: Betis, Average xG (Home): 1.66, Average xG (Away): 1.01
Team: Alavés, Average xG (Home): 1.16, Average xG (Away): 0.90
Team: Granada, Average xG (Home): 1.33, Average xG (Away): 1.04
Team: Real Madrid, Average xG (Home): 2.00, Average xG (Away): 1.57
Team: Valladolid, Average xG (Home): 1.10, Average xG (Away): 0.83
Team: Espanyol, Average xG (Home): 1.06, Average xG (Away): 0.97
Team: Levante, Average xG (Home): 1.45, Average xG (Away): 1.10
Team: Eibar, Average xG (Home): 1.35, Average xG (Away): 0.85
Team: Leganés, Average xG (Home): 1.07, Average xG (Away): 1.04

Season: 2018-2019
Team: Sevilla, Average xG (Home): 2.03, Average xG (Away): 1.47
Team: Real Sociedad, Average xG (Home): 1.53, Average xG (Away): 1.09
Team: Athletic Club, Average xG (Home): 1.34, Average xG (Away): 0.94
Team: Celta Vigo, Average xG (Home): 1.34, Average xG (Away): 1.11
Team: Villarreal, Average xG (Home): 1.59, Average xG (Away): 1.24
Team: Getafe, Average xG (Home): 1.48, Average xG (Away): 0.96
Team: Atlético Madrid, Average xG (Home): 1.36, Average xG (Away): 1.11
Team: Valencia, Average xG (Home): 1.65, Average xG (Away): 1.56
Team: Girona, Average xG (Home): 1.22, Average xG (Away): 1.06
Team: Barcelona, Average xG (Home): 2.38, Average xG (Away): 1.61
Team: Betis, Average xG (Home): 1.44, Average xG (Away): 1.03
Team: Alavés, Average xG (Home): 1.21, Average xG (Away): 0.97
Team: Rayo Vallecano, Average xG (Home): 1.54, Average xG (Away): 1.02
Team: Real Madrid, Average xG (Home): 1.88, Average xG (Away): 1.62
Team: Valladolid, Average xG (Home): 1.16, Average xG (Away): 0.99
Team: Espanyol, Average xG (Home): 1.46, Average xG (Away): 1.13
Team: Levante, Average xG (Home): 1.63, Average xG (Away): 1.20
Team: Eibar, Average xG (Home): 1.70, Average xG (Away): 1.18
Team: Huesca, Average xG (Home): 1.61, Average xG (Away): 1.07
Team: Leganés, Average xG (Home): 1.21, Average xG (Away): 0.94

Season: 2017-2018
Team: Sevilla, Average xG (Home): 1.86, Average xG (Away): 1.27
Team: Real Sociedad, Average xG (Home): 1.69, Average xG (Away): 1.13
Team: Las Palmas, Average xG (Home): 1.26, Average xG (Away): 0.75
Team: Athletic Club, Average xG (Home): 1.25, Average xG (Away): 1.37
Team: Celta Vigo, Average xG (Home): 1.86, Average xG (Away): 1.04
Team: Villarreal, Average xG (Home): 1.67, Average xG (Away): 1.15
Team: Getafe, Average xG (Home): 1.71, Average xG (Away): 0.82
Team: Atlético Madrid, Average xG (Home): 1.46, Average xG (Away): 1.18
Team: Valencia, Average xG (Home): 1.81, Average xG (Away): 1.11
Team: Girona, Average xG (Home): 1.48, Average xG (Away): 1.18
Team: Barcelona, Average xG (Home): 2.44, Average xG (Away): 1.95
Team: Betis, Average xG (Home): 1.37, Average xG (Away): 1.04
Team: Alavés, Average xG (Home): 1.12, Average xG (Away): 0.90
Team: Real Madrid, Average xG (Home): 2.48, Average xG (Away): 2.02
Team: Espanyol, Average xG (Home): 1.36, Average xG (Away): 0.81
Team: Levante, Average xG (Home): 1.49, Average xG (Away): 0.85
Team: Eibar, Average xG (Home): 1.20, Average xG (Away): 0.95
Team: Leganés, Average xG (Home): 1.08, Average xG (Away): 1.01
Team: La Coruña, Average xG (Home): 1.71, Average xG (Away): 1.00
Team: Málaga, Average xG (Home): 1.22, Average xG (Away): 0.81

Season: 2016-2017
Team: Sevilla, Average xG (Home): nan, Average xG (Away): nan
Team: Real Sociedad, Average xG (Home): nan, Average xG (Away): nan
Team: Las Palmas, Average xG (Home): nan, Average xG (Away): nan
Team: Athletic Club, Average xG (Home): nan, Average xG (Away): nan
Team: Celta Vigo, Average xG (Home): nan, Average xG (Away): nan
Team: Villarreal, Average xG (Home): nan, Average xG (Away): nan
Team: Atlético Madrid, Average xG (Home): nan, Average xG (Away): nan
Team: Valencia, Average xG (Home): nan, Average xG (Away): nan
Team: Osasuna, Average xG (Home): nan, Average xG (Away): nan
Team: Barcelona, Average xG (Home): nan, Average xG (Away): nan
Team: Betis, Average xG (Home): nan, Average xG (Away): nan
Team: Alavés, Average xG (Home): nan, Average xG (Away): nan
Team: Granada, Average xG (Home): nan, Average xG (Away): nan
Team: Real Madrid, Average xG (Home): nan, Average xG (Away): nan
Team: Espanyol, Average xG (Home): nan, Average xG (Away): nan
Team: Eibar, Average xG (Home): nan, Average xG (Away): nan
Team: Leganés, Average xG (Home): nan, Average xG (Away): nan
Team: La Coruña, Average xG (Home): nan, Average xG (Away): nan
Team: Málaga, Average xG (Home): nan, Average xG (Away): nan
Team: Sporting Gijón, Average xG (Home): nan, Average xG (Away): nan

Season: 2015-2016
Team: Sevilla, Average xG (Home): nan, Average xG (Away): nan
Team: Real Sociedad, Average xG (Home): nan, Average xG (Away): nan
Team: Las Palmas, Average xG (Home): nan, Average xG (Away): nan
Team: Athletic Club, Average xG (Home): nan, Average xG (Away): nan
Team: Celta Vigo, Average xG (Home): nan, Average xG (Away): nan
Team: Villarreal, Average xG (Home): nan, Average xG (Away): nan
Team: Getafe, Average xG (Home): nan, Average xG (Away): nan
Team: Atlético Madrid, Average xG (Home): nan, Average xG (Away): nan
Team: Valencia, Average xG (Home): nan, Average xG (Away): nan
Team: Barcelona, Average xG (Home): nan, Average xG (Away): nan
Team: Betis, Average xG (Home): nan, Average xG (Away): nan
Team: Granada, Average xG (Home): nan, Average xG (Away): nan
Team: Rayo Vallecano, Average xG (Home): nan, Average xG (Away): nan
Team: Real Madrid, Average xG (Home): nan, Average xG (Away): nan
Team: Espanyol, Average xG (Home): nan, Average xG (Away): nan
Team: Levante, Average xG (Home): nan, Average xG (Away): nan
Team: Eibar, Average xG (Home): nan, Average xG (Away): nan
Team: La Coruña, Average xG (Home): nan, Average xG (Away): nan
Team: Málaga, Average xG (Home): nan, Average xG (Away): nan
Team: Sporting Gijón, Average xG (Home): nan, Average xG (Away): nan

Season: 2014-2015
Team: Almería, Average xG (Home): nan, Average xG (Away): nan
Team: Sevilla, Average xG (Home): nan, Average xG (Away): nan
Team: Real Sociedad, Average xG (Home): nan, Average xG (Away): nan
Team: Athletic Club, Average xG (Home): nan, Average xG (Away): nan
Team: Celta Vigo, Average xG (Home): nan, Average xG (Away): nan
Team: Villarreal, Average xG (Home): nan, Average xG (Away): nan
Team: Getafe, Average xG (Home): nan, Average xG (Away): nan
Team: Atlético Madrid, Average xG (Home): nan, Average xG (Away): nan
Team: Valencia, Average xG (Home): nan, Average xG (Away): nan
Team: Barcelona, Average xG (Home): nan, Average xG (Away): nan
Team: Granada, Average xG (Home): nan, Average xG (Away): nan
Team: Rayo Vallecano, Average xG (Home): nan, Average xG (Away): nan
Team: Real Madrid, Average xG (Home): nan, Average xG (Away): nan
Team: Espanyol, Average xG (Home): nan, Average xG (Away): nan
Team: Elche, Average xG (Home): nan, Average xG (Away): nan
Team: Levante, Average xG (Home): nan, Average xG (Away): nan
Team: Eibar, Average xG (Home): nan, Average xG (Away): nan
Team: La Coruña, Average xG (Home): nan, Average xG (Away): nan
Team: Málaga, Average xG (Home): nan, Average xG (Away): nan
Team: Córdoba, Average xG (Home): nan, Average xG (Away): nan

In [6]:
# Ensure that team labels are mapped to team names correctly
team_labels_names = {v: k for k, v in team_labels.items()}

# Iterate over each season and print the average xG for each team
for season in test_df['Season'].unique():
    print(f"Season: {season}")
    for team_label, team_name in team_labels_names.items():
        # Check if the team_label exists in average_xG_per_team_season_home and average_xG_per_team_season_away
        if team_label in average_xG_per_team_season_home[season].index:
            avg_xG_home = average_xG_per_team_season_home[season][team_label]
        else:
            avg_xG_home = 0.0
            
        if team_label in average_xG_per_team_season_away[season].index:
            avg_xG_away = average_xG_per_team_season_away[season][team_label]
        else:
            avg_xG_away = 0.0
            
        if avg_xG_home != 0.0 or avg_xG_away != 0.0:  # Exclude teams with xG = 0.00
            print(f"Team: {team_name}, Average xG (Home): {avg_xG_home:.2f}, Average xG (Away): {avg_xG_away:.2f}")
    print()

Season: 2023-2024

NameError: name 'average_xG_per_team_season_home' is not defined

In [162]:
type(average_xG_per_team_season_home)

pandas.core.series.Series

In [166]:
# Filter DataFrame for team 0 in the "Home" column
team_home = df[df['Home'] == i]

# Calculate the average of "xG_home" for team 0, ignoring NaN values
avg_xG_home_team = team_home['xG_home'].mean(skipna=True)

# Filter DataFrame for team 0 in the "Away" column
team_away = df[df['Away'] == 0]

# Calculate the average of "xG_away" for team 0, ignoring NaN values
avg_xG_away_team = team_away['xG_away'].mean(skipna=True)

print("Average xG_home for Team 0:", avg_xG_home_team_0)
print("Average xG_away for Team 0:", avg_xG_away_team_0)

Average xG_home for Team 0: 1.4303030303030309
Average xG_away for Team 0: 1.0117647058823533

In [177]:
for i in test_df['Home'].unique():
    # Filter DataFrame for team i in the "Home" column
    team_home = test_df[test_df['Home'] == i]
    
    # Calculate the average of "xG_home" for team i, ignoring NaN values
    avg_xG_home_team = team_home['xG_home'].mean(skipna=True)
    
    # Filter DataFrame for team i in the "Away" column
    team_away = test_df[test_df['Away'] == i]

    # Calculate the average of "xG_away" for team i, ignoring NaN values
    avg_xG_away_team = team_away['xG_away'].mean(skipna=True)

    # Fill NaN values in 'xG_home' and 'xG_away' columns for team i
    test_df.loc[test_df['Home'] == i, 'xG_home'] = test_df.loc[test_df['Home'] == i, 'xG_home'].fillna(avg_xG_home_team)
    test_df.loc[test_df['Away'] == i, 'xG_away'] = test_df.loc[test_df['Away'] == i, 'xG_away'].fillna(avg_xG_away_team)

    print(i)
    print(test_df.loc[test_df['Home'] == i, 'xG_home'])
    print(test_df.loc[test_df['Away'] == i, 'xG_away'])

0
0       1.400000
13      1.300000
31      3.000000
53      2.600000
74      2.900000
100     0.300000
121     0.400000
145     2.400000
164     0.300000
195     1.700000
207     1.400000
239     0.900000
253     0.500000
278     2.000000
295     0.700000
313     2.300000
338     0.200000
360     1.200000
386     1.800000
400     2.300000
422     0.500000
444     0.600000
455     1.400000
467     2.100000
490     2.300000
516     1.000000
521     0.400000
540     2.400000
566     0.900000
581     0.800000
609     1.700000
633     1.800000
654     1.700000
3332    1.430303
3349    1.430303
3373    1.430303
3394    1.430303
3410    1.430303
3430    1.430303
3458    1.430303
3469    1.430303
3503    1.430303
3534    1.430303
3549    1.430303
3572    1.430303
3594    1.430303
3612    1.430303
3632    1.430303
3655    1.430303
3678    1.430303
3686    1.430303
3705    1.430303
Name: xG_home, dtype: float64
22      0.300000
45      1.500000
59      1.800000
79      0.100000
95      1.000000
114     0.500000
131     1.800000
154     1.300000
172     1.600000
187     0.200000
203     0.900000
221     1.900000
246     1.400000
259     0.100000
285     0.800000
307     0.700000
328     0.500000
340     0.400000
349     0.700000
377     0.800000
396     1.000000
413     0.500000
433     2.300000
466     1.400000
488     1.200000
499     1.800000
535     1.100000
554     1.000000
576     0.200000
592     1.900000
601     1.300000
621     0.500000
640     0.100000
668     1.800000
3339    1.011765
3364    1.011765
3386    1.011765
3407    1.011765
3426    1.011765
3448    1.011765
3467    1.011765
3479    1.011765
3492    1.011765
3510    1.011765
3525    1.011765
3544    1.011765
3562    1.011765
3582    1.011765
3603    1.011765
3623    1.011765
3644    1.011765
3664    1.011765
3696    1.011765
Name: xG_away, dtype: float64
1
1       0.700000
24      1.700000
46      1.700000
59      2.200000
83      1.000000
          ...
3610    1.585271
3631    1.585271
3656    1.585271
3672    1.585271
3696    1.585271
Name: xG_home, Length: 186, dtype: float64
18      0.600000
51      0.800000
69      1.100000
103     1.200000
112     0.900000
          ...
3620    1.178125
3645    1.178125
3662    1.178125
3687    1.178125
3707    1.178125
Name: xG_away, Length: 185, dtype: float64
2
2       1.000000
12      0.700000
32      2.300000
54      2.000000
73      1.400000
          ...
3607    1.570312
3636    1.570312
3653    1.570312
3669    1.570312
3695    1.570312
Name: xG_home, Length: 185, dtype: float64
20      1.000000
47      1.600000
65      0.200000
85      1.200000
105     2.000000
          ...
3619    1.187597
3648    1.187597
3661    1.187597
3681    1.187597
3704    1.187597
Name: xG_away, Length: 186, dtype: float64
3
3       0.900000
20      0.900000
56      0.600000
78      1.700000
94      1.300000
          ...
3237    1.123529
3251    1.123529
3271    1.123529
3289    1.123529
3309    1.123529
Name: xG_home, Length: 72, dtype: float64
11      0.500000
36      1.100000
46      1.000000
62      0.700000
84      1.100000
          ...
3241    0.763636
3268    0.763636
3280    0.763636
3303    0.763636
3324    0.763636
Name: xG_away, Length: 71, dtype: float64
4
4       0.400000
27      2.900000
40      2.900000
61      0.700000
79      1.900000
          ...
3626    1.441085
3643    1.441085
3661    1.441085
3683    1.441085
3703    1.441085
Name: xG_home, Length: 186, dtype: float64
14      1.500000
37      0.600000
49      1.700000
73      1.800000
97      0.400000
          ...
3610    1.092188
3635    1.092188
3649    1.092188
3671    1.092188
3697    1.092188
Name: xG_away, Length: 185, dtype: float64
5
5       1.000000
21      1.200000
42      1.300000
66      0.600000
87      3.100000
          ...
3633    1.407812
3657    1.407812
3663    1.407812
3687    1.407812
3700    1.407812
Name: xG_home, Length: 185, dtype: float64
12      1.000000
31      1.500000
52      1.500000
78      1.500000
99      0.200000
          ...
3602    1.031008
3624    1.031008
3647    1.031008
3678    1.031008
3690    1.031008
Name: xG_away, Length: 186, dtype: float64
6
6       0.900000
25      1.900000
45      0.900000
63      1.800000
84      1.000000
          ...
3627    1.766667
3646    1.766667
3665    1.766667
3685    1.766667
3689    1.766667
Name: xG_home, Length: 186, dtype: float64
10      1.800000
30      0.300000
55      1.600000
70      0.100000
108     1.600000
          ...
3615    1.308594
3634    1.308594
3653    1.308594
3673    1.308594
3703    1.308594
Name: xG_away, Length: 185, dtype: float64
7
7       0.600000
28      2.200000
44      0.500000
70      0.900000
91      1.500000
          ...
3616    1.233594
3634    1.233594
3652    1.233594
3675    1.233594
3691    1.233594
Name: xG_home, Length: 166, dtype: float64
15      0.700000
33      0.400000
54      1.400000
61      1.400000
87      0.700000
          ...
3628    0.876744
3643    0.876744
3659    0.876744
3688    0.876744
3708    0.876744
Name: xG_away, Length: 167, dtype: float64
8
8       0.7
22      1.6
30      2.1
64      0.6
80      0.4
       ...
1335    0.6
1353    0.4
1362    1.0
1392    0.9
1410    1.1
Name: xG_home, Length: 71, dtype: float64
16      1.1
40      0.3
57      0.2
76      0.8
98      0.6
       ...
1340    0.7
1368    1.1
1386    1.2
1399    1.7
1419    0.5
Name: xG_away, Length: 72, dtype: float64
9
9       2.400000
58      1.400000
76      2.700000
85      2.200000
107     1.300000
          ...
3600    1.613953
3619    1.613953
3651    1.613953
3671    1.613953
3694    1.613953
Name: xG_home, Length: 186, dtype: float64
17      0.5000
29      3.4000
41      0.6000
68      1.5000
93      1.8000
         ...
3630    1.2875
3641    1.2875
3665    1.2875
3684    1.2875
3706    1.2875
Name: xG_away, Length: 185, dtype: float64
10
10      0.4
37      0.4
60      0.8
82      0.6
102     0.9
       ...
1705    1.1
1720    0.4
1749    1.5
1774    1.3
1793    1.3
Name: xG_home, Length: 72, dtype: float64
3       1.6
23      2.6
42      0.8
50      1.8
71      1.5
       ...
1736    0.6
1740    1.3
1759    0.8
1785    0.4
1807    0.8
Name: xG_away, Length: 71, dtype: float64
11
11      1.500000
26      1.700000
41      1.300000
65      0.400000
98      1.500000
          ...
3615    1.416406
3638    1.416406
3658    1.416406
3676    1.416406
3690    1.416406
Name: xG_home, Length: 185, dtype: float64
1       1.100000
34      0.800000
53      0.800000
77      0.700000
82      0.500000
          ...
3626    1.089844
3640    1.089844
3667    1.089844
3682    1.089844
3705    1.089844
Name: xG_away, Length: 185, dtype: float64
12
14      1.300000
38      0.800000
51      1.400000
68      1.000000
89      2.100000
          ...
2850    1.259341
2875    1.259341
2891    1.259341
2913    1.259341
2929    1.259341
Name: xG_home, Length: 110, dtype: float64
5       1.000000
26      1.200000
44      1.100000
75      1.100000
81      0.500000
          ...
2862    0.905556
2881    0.905556
2901    0.905556
2924    0.905556
2943    0.905556
Name: xG_away, Length: 109, dtype: float64
13
15      1.4
36      1.0
50      3.2
72      1.6
95      1.9
       ...
2479    0.8
2499    0.7
2522    2.0
2538    1.7
2554    0.8
Name: xG_home, Length: 71, dtype: float64
2       0.8
24      1.7
48      2.8
63      2.1
80      1.2
       ...
2478    1.4
2496    0.7
2516    1.8
2532    1.8
2561    1.4
Name: xG_away, Length: 72, dtype: float64
14
16      3.400000
43      2.400000
52      1.600000
69      2.400000
97      1.300000
          ...
3623    2.185271
3640    2.185271
3659    2.185271
3681    2.185271
3701    2.185271
Name: xG_home, Length: 186, dtype: float64
7       1.400000
25      3.100000
38      2.000000
60      1.900000
88      3.000000
          ...
3617    1.704687
3631    1.704687
3650    1.704687
3670    1.704687
3694    1.704687
Name: xG_away, Length: 185, dtype: float64
15
17      0.700000
35      1.000000
57      1.800000
77      1.600000
104     1.200000
          ...
3244    1.453488
3263    1.453488
3280    1.453488
3302    1.453488
3326    1.453488
Name: xG_home, Length: 167, dtype: float64
6       1.100000
27      0.400000
43      0.800000
67      0.900000
86      0.900000
          ...
3236    1.116406
3250    1.116406
3273    1.116406
3295    1.116406
3313    1.116406
Name: xG_away, Length: 166, dtype: float64
16
18      1.80000
34      1.30000
49      1.10000
75      1.50000
86      1.30000
         ...
2862    1.20367
2887    1.20367
2905    1.20367
2923    1.20367
2930    1.20367
Name: xG_home, Length: 128, dtype: float64
8       0.300000
28      0.700000
39      0.700000
66      2.600000
96      1.700000
          ...
2854    0.933636
2869    0.933636
2895    0.933636
2914    0.933636
2942    0.933636
Name: xG_away, Length: 129, dtype: float64
17
19      1.200000
23      1.400000
48      1.600000
67      1.800000
88      0.800000
          ...
3624    1.219718
3645    1.219718
3668    1.219718
3680    1.219718
3706    1.219718
Name: xG_home, Length: 128, dtype: float64
9       0.900000
32      0.800000
56      0.000000
74      2.900000
89      0.600000
          ...
3614    0.991549
3632    0.991549
3658    0.991549
3675    0.991549
3695    0.991549
Name: xG_away, Length: 128, dtype: float64
18
29      0.600000
39      2.600000
55      1.200000
71      2.300000
105     1.000000
          ...
3625    1.383099
3644    1.383099
3667    1.383099
3688    1.383099
3704    1.383099
Name: xG_home, Length: 109, dtype: float64
0       2.100000
19      2.100000
35      1.500000
64      0.300000
83      1.000000
          ...
3609    0.961111
3633    0.961111
3656    0.961111
3674    0.961111
3692    0.961111
Name: xG_away, Length: 110, dtype: float64
19
33      2.800000
47      2.000000
62      1.700000
81      3.200000
117     2.200000
          ...
3629    2.046875
3642    2.046875
3664    2.046875
3682    2.046875
3708    2.046875
Name: xG_home, Length: 185, dtype: float64
4       0.900000
13      2.000000
21      1.400000
58      1.000000
72      2.300000
          ...
3608    1.724806
3625    1.724806
3657    1.724806
3672    1.724806
3698    1.724806
Name: xG_away, Length: 186, dtype: float64
20
291     1.0
328     1.2
339     1.5
364     0.6
383     1.5
       ...
2115    1.4
2123    1.5
2140    0.9
2167    0.8
2183    0.8
Name: xG_home, Length: 76, dtype: float64
300     0.5
315     0.8
329     0.5
351     1.6
376     0.7
       ...
2084    2.4
2107    0.8
2129    2.0
2150    0.7
2176    1.4
Name: xG_away, Length: 76, dtype: float64
21
299     0.800000
316     1.300000
331     2.500000
354     0.800000
376     1.300000
          ...
3618    1.313684
3635    1.313684
3650    1.313684
3674    1.313684
3698    1.313684
Name: xG_home, Length: 152, dtype: float64
290     1.100000
325     0.600000
347     0.800000
365     1.300000
387     1.000000
          ...
3627    0.938947
3639    0.938947
3668    0.938947
3679    0.938947
3700    0.938947
Name: xG_away, Length: 152, dtype: float64
22
307     1.000000
311     0.700000
335     0.900000
368     0.500000
385     0.800000
          ...
3599    1.068421
3628    1.068421
3648    1.068421
3666    1.068421
3697    1.068421
Name: xG_home, Length: 76, dtype: float64
298     0.400000
326     0.600000
341     0.000000
358     1.100000
371     1.700000
          ...
3637    0.705263
3651    0.705263
3677    0.705263
3685    0.705263
3699    0.705263
Name: xG_away, Length: 76, dtype: float64
23
686     1.900000
699     1.000000
718     1.700000
747     0.900000
774     1.800000
          ...
3620    1.476842
3639    1.476842
3660    1.476842
3684    1.476842
3699    1.476842
Name: xG_home, Length: 133, dtype: float64
671     0.900000
692     0.400000
710     1.100000
732     0.800000
739     1.200000
          ...
3612    1.071579
3638    1.071579
3652    1.071579
3669    1.071579
3693    1.071579
Name: xG_away, Length: 133, dtype: float64
24
1049    0.400000
1068    0.600000
1077    1.200000
1096    0.300000
1112    0.500000
          ...
3621    1.353947
3647    1.353947
3662    1.353947
3679    1.353947
3702    1.353947
Name: xG_home, Length: 133, dtype: float64
1056    1.500000
1082    1.700000
1105    0.200000
1123    0.900000
1151    2.900000
          ...
3604    1.051316
3629    1.051316
3655    1.051316
3676    1.051316
3691    1.051316
Name: xG_away, Length: 133, dtype: float64
25
1059    0.3
1076    0.9
1099    1.1
1123    2.2
1145    0.2
1165    0.4
1186    1.4
1212    0.8
1223    1.3
1235    0.2
1256    1.0
1283    2.3
1302    2.2
1322    0.8
1339    1.2
1371    0.8
1382    0.6
1403    1.2
1421    1.3
1838    1.7
1848    0.6
1873    1.5
1895    0.4
1915    1.3
1932    2.8
1955    1.2
1966    4.2
1983    1.5
2001    1.3
2019    1.9
2048    1.2
2062    1.0
2080    1.5
2103    3.3
2120    0.2
2139    1.0
2168    3.1
2185    0.9
Name: xG_home, dtype: float64
1054    0.6
1064    0.9
1085    1.6
1110    0.5
1113    1.0
1132    0.7
1157    1.5
1174    0.2
1199    1.3
1229    0.8
1244    1.2
1267    1.3
1288    0.5
1317    2.2
1329    0.8
1352    0.9
1363    1.5
1392    0.7
1409    0.3
1814    1.7
1828    0.3
1836    1.7
1860    0.9
1883    0.6
1908    0.8
1924    0.9
1940    1.2
1975    2.3
1990    0.5
2015    0.4
2033    0.6
2049    0.8
2073    0.9
2098    1.7
2116    1.3
2132    1.1
2156    1.4
2169    1.3
Name: xG_away, dtype: float64
26
1433    1.400000
1447    0.400000
1461    0.400000
1483    0.500000
1500    2.800000
          ...
2865    1.121053
2883    1.121053
2903    1.121053
2927    1.121053
2942    1.121053
Name: xG_home, Length: 76, dtype: float64
1454    1.400000
1476    1.200000
1492    1.200000
1512    0.600000
1534    0.300000
          ...
2851    0.998246
2875    0.998246
2890    0.998246
2915    0.998246
2936    0.998246
Name: xG_away, Length: 76, dtype: float64
27
2196    1.700000
2214    1.000000
2233    1.700000
2250    2.300000
2278    2.400000
          ...
3605    1.710526
3622    1.710526
3641    1.710526
3673    1.710526
3693    1.710526
Name: xG_home, Length: 76, dtype: float64
2203    0.8
2222    0.5
2243    1.6
2264    0.6
2287    1.7
       ...
3636    1.0
3654    1.0
3666    1.0
3683    1.0
3701    1.0
Name: xG_away, Length: 76, dtype: float64
28
2198    0.900000
2218    1.000000
2241    2.200000
2266    1.000000
2286    1.900000
          ...
3613    1.215789
3630    1.215789
3654    1.215789
3677    1.215789
3707    1.215789
Name: xG_home, Length: 76, dtype: float64
2202    0.400000
2223    0.600000
2229    0.800000
2251    0.400000
2272    0.600000
          ...
3621    0.810526
3642    0.810526
3663    0.810526
3686    0.810526
3689    0.810526
Name: xG_away, Length: 76, dtype: float64
29
2574   NaN
2595   NaN
2621   NaN
2646   NaN
2660   NaN
2686   NaN
2706   NaN
2720   NaN
2744   NaN
2773   NaN
2787   NaN
2804   NaN
2822   NaN
2846   NaN
2864   NaN
2880   NaN
2898   NaN
2919   NaN
2940   NaN
2955   NaN
2971   NaN
3005   NaN
3028   NaN
3047   NaN
3064   NaN
3086   NaN
3127   NaN
3148   NaN
3172   NaN
3178   NaN
3188   NaN
3201   NaN
3226   NaN
3240   NaN
3264   NaN
3284   NaN
3299   NaN
3327   NaN
Name: xG_home, dtype: float64
2586   NaN
2601   NaN
2612   NaN
2633   NaN
2653   NaN
2669   NaN
2691   NaN
2716   NaN
2731   NaN
2756   NaN
2765   NaN
2782   NaN
2810   NaN
2829   NaN
2853   NaN
2877   NaN
2891   NaN
2908   NaN
2937   NaN
2960   NaN
2985   NaN
2993   NaN
3012   NaN
3038   NaN
3057   NaN
3074   NaN
3093   NaN
3112   NaN
3133   NaN
3143   NaN
3164   NaN
3192   NaN
3216   NaN
3229   NaN
3258   NaN
3271   NaN
3292   NaN
3312   NaN
Name: xG_away, dtype: float64
30
3341   NaN
3366   NaN
3388   NaN
3403   NaN
3414   NaN
3429   NaN
3456   NaN
3472   NaN
3497   NaN
3508   NaN
3518   NaN
3544   NaN
3561   NaN
3588   NaN
3611   NaN
3637   NaN
3649   NaN
3670   NaN
3692   NaN
Name: xG_home, dtype: float64
3337   NaN
3349   NaN
3378   NaN
3389   NaN
3421   NaN
3446   NaN
3460   NaN
3480   NaN
3507   NaN
3532   NaN
3550   NaN
3569   NaN
3595   NaN
3607   NaN
3622   NaN
3646   NaN
3660   NaN
3680   NaN
3702   NaN
Name: xG_away, dtype: float64

In [191]:
    for i in df_combined['Home'].unique():
        # Filter DataFrame for team i in the "Home" column
        team_home = df_combined[df_combined['Home'] == i]
        
        # Calculate the average of "xG_home" for team i, ignoring NaN values
        avg_xG_home_team = team_home['xG_home'].mean(skipna=True)
        
        # Filter DataFrame for team i in the "Away" column
        team_away = df_combined[df_combined['Away'] == i]
    
        # Calculate the average of "xG_away" for team i, ignoring NaN values
        avg_xG_away_team = team_away['xG_away'].mean(skipna=True)
    
        # Fill NaN values in 'xG_home' and 'xG_away' columns for team i
        df_combined.loc[df_combined['Home'] == i, 'xG_home'] = df_combined.loc[df_combined['Home'] == i, 'xG_home'].fillna(avg_xG_home_team)
        df_combined.loc[df_combined['Away'] == i, 'xG_away'] = df_combined.loc[df_combined['Away'] == i, 'xG_away'].fillna(avg_xG_away_team)

        nan_condition = (df_combined['Home'] == i) & (df_combined['xG_home'].isna()) & (df_combined['Away'] == i) & (df_combined['xG_away'].isna())
        df_combined.loc[nan_condition, ['xG_home', 'xG_away']] = 0.0

,Wk,Day,Date,Home,xG_home,Score,xG_away,Away,Attendance,Referee,Season,goals_h,goals_a,Time_group,target
0,1.0,Fri,2023-08-11,0,1.400000,0–2,2.100000,18,14837.0,Alberola Rojas,2023-2024,0,2,1,1
13,2.0,Sat,2023-08-19,0,1.300000,1–3,2.000000,19,17561.0,José Sánchez,2023-2024,1,3,1,1
31,4.0,Fri,2023-09-01,0,3.000000,2–3,1.500000,5,14196.0,Ricardo de Burgos,2023-2024,2,3,2,1
53,6.0,Sat,2023-09-23,0,2.600000,2–2,0.800000,11,14266.0,Mateo Busquets,2023-2024,2,2,2,2
74,8.0,Sun,2023-10-01,0,2.900000,3–3,2.900000,17,14264.0,Pablo González,2023-2024,3,3,0,2
100,11.0,Sat,2023-10-28,0,0.300000,1–2,0.900000,3,12132.0,Francisco Hernández,2023-2024,1,2,0,1
121,13.0,Sat,2023-11-11,0,0.400000,1–3,2.400000,2,13016.0,Isidro Díaz de Mera,2023-2024,1,3,1,1
145,15.0,Sun,2023-12-03,0,2.400000,0–0,0.500000,15,14253.0,Alejandro Muñíz,2023-2024,0,0,1,2
164,17.0,Sun,2023-12-17,0,0.300000,0–0,1.900000,10,11936.0,Pablo González,2023-2024,0,0,0,2
195,20.0,Sun,2024-01-14,0,1.700000,0–0,0.300000,13,12111.0,Mateo Busquets,2023-2024,0,0,0,2
207,22.0,Fri,2024-01-26,0,1.400000,0–3,1.800000,16,13817.0,Miguel Ángel Ortiz Arias,2023-2024,0,3,2,1
239,24.0,Mon,2024-02-12,0,0.900000,0–0,0.700000,4,12863.0,Víctor García,2023-2024,0,0,2,2
253,26.0,Sat,2024-02-24,0,0.500000,2–2,1.500000,9,14472.0,Alberola Rojas,2023-2024,2,2,2,2
278,28.0,Mon,2024-03-11,0,2.000000,2–2,2.400000,1,13095.0,Ricardo de Burgos,2023-2024,2,2,2,2
295,1.0,Sun,2022-08-14,0,0.700000,1–2,2.100000,19,14386.0,Juan Martínez,2022-2023,1,2,2,1
313,3.0,Sat,2022-08-27,0,2.300000,2–1,1.000000,1,13788.0,Jesús Gil,2022-2023,2,1,2,0
338,5.0,Mon,2022-09-12,0,0.200000,0–1,2.000000,12,12397.0,Javier Villanueva,2022-2023,0,1,2,1
360,8.0,Sat,2022-10-08,0,1.200000,3–1,0.800000,18,10783.0,Pablo González,2022-2023,3,1,0,0
386,10.0,Thu,2022-10-20,0,1.800000,3–2,2.800000,13,11194.0,Guillermo Cuadra,2022-2023,3,2,1,0
400,12.0,Sat,2022-10-29,0,2.300000,3–1,0.300000,5,11080.0,Carlos del Cerro,2022-2023,3,1,0,0
422,14.0,Wed,2022-11-09,0,0.500000,1–0,0.400000,7,11454.0,Alejandro Muñíz,2022-2023,1,0,1,0
444,16.0,Sun,2023-01-08,0,0.600000,0–2,1.700000,2,12020.0,Alberola Rojas,2022-2023,0,2,0,1
455,17.0,Sun,2023-01-15,0,1.400000,1–1,2.400000,9,14128.0,José Sánchez,2022-2023,1,1,1,2
467,19.0,Fri,2023-01-27,0,2.100000,3–1,0.800000,21,11629.0,Javier Villanueva,2022-2023,3,1,2,0
490,21.0,Sat,2023-02-11,0,2.300000,2–3,2.500000,15,14288.0,Alberola Rojas,2022-2023,2,3,1,1
516,23.0,Sun,2023-02-26,0,1.000000,1–0,1.400000,14,15279.0,Miguel Ángel Ortiz Arias,2022-2023,1,0,1,0
521,24.0,Sat,2023-03-04,0,0.400000,0–2,2.100000,6,13311.0,Pablo González,2022-2023,0,2,1,1
540,26.0,Sat,2023-03-18,0,2.400000,1–1,1.400000,8,12183.0,Carlos del Cerro,2022-2023,1,1,0,2
566,28.0,Sun,2023-04-09,0,0.900000,2–1,1.300000,11,14309.0,José Sánchez,2022-2023,2,1,1,0
581,30.0,Sat,2023-04-22,0,0.800000,1–2,1.700000,4,13271.0,Valentín Pizarro,2022-2023,1,2,1,1
609,33.0,Tue,2023-05-02,0,1.700000,2–1,1.000000,22,13352.0,Alejandro Hernández,2022-2023,2,1,1,0
633,35.0,Sat,2023-05-20,0,1.800000,3–0,0.800000,10,12791.0,Carlos del Cerro,2022-2023,3,0,1,0
654,37.0,Sun,2023-05-28,0,1.700000,0–0,0.500000,20,14608.0,Alberola Rojas,2022-2023,0,0,1,2
3332,1.0,Sat,2014-08-23,0,1.430303,1–1,0.938947,21,12000.0,Alejandro Hernández,2014-2015,1,1,2,2
3349,3.0,Fri,2014-09-12,0,1.430303,1–1,NaN,30,10682.0,Fernando Teixeira,2014-2015,1,1,2,2
3373,5.0,Wed,2014-09-24,0,1.430303,0–1,1.287500,9,11863.0,Jesús Gil,2014-2015,0,1,2,1
3394,7.0,Sat,2014-10-04,0,1.430303,2–2,0.705263,22,9000.0,Carlos del Cerro,2014-2015,2,2,2,2
3410,9.0,Sat,2014-10-25,0,1.430303,0–1,1.092188,4,10000.0,Juan Martínez,2014-2015,0,1,1,1
3430,11.0,Sat,2014-11-08,0,1.430303,1–2,1.704687,14,12606.0,Alberto Undiano,2014-2015,1,2,1,1
3458,13.0,Mon,2014-12-01,0,1.430303,0–1,0.961111,18,8500.0,Antonio Matéu Lahoz,2014-2015,0,1,2,1
3469,15.0,Fri,2014-12-12,0,1.430303,1–4,1.724806,19,15000.0,Alfonso Álvarez,2014-2015,1,4,2,1
3503,18.0,Sun,2015-01-11,0,1.430303,0–2,1.178125,1,12703.0,Eduardo Prieto,2014-2015,0,2,0,1
3534,21.0,Sun,2015-02-01,0,1.430303,1–0,0.876744,7,8575.0,Ignacio Iglesias,2014-2015,1,0,1,0
3549,23.0,Fri,2015-02-13,0,1.430303,2–2,1.187597,2,8875.0,Carlos Velasco,2014-2015,2,2,2,2
3572,25.0,Sat,2015-02-28,0,1.430303,0–0,1.000000,27,8979.0,Jesús Gil,2014-2015,0,0,2,2
3594,27.0,Sun,2015-03-15,0,1.430303,0–0,1.308594,6,9479.0,Alberto Undiano,2014-2015,0,0,0,2
3612,29.0,Sat,2015-04-04,0,1.430303,1–4,1.071579,23,9603.0,José González,2014-2015,1,4,2,1
3632,31.0,Sat,2015-04-11,0,1.430303,3–0,0.991549,17,8920.0,Santiago Jaime,2014-2015,3,0,2,0
3655,33.0,Sun,2015-04-26,0,1.430303,2–0,1.051316,24,10715.0,Carlos del Cerro,2014-2015,2,0,1,0
3678,35.0,Mon,2015-05-04,0,1.430303,2–2,1.031008,5,10898.0,José Teixeira,2014-2015,2,2,2,2
3686,36.0,Sun,2015-05-10,0,1.430303,1–2,0.810526,28,10690.0,Eduardo Prieto,2014-2015,1,2,1,1
3705,38.0,Sat,2015-05-23,0,1.430303,2–3,1.089844,11,11137.0,Alejandro Hernández,2014-2015,2,3,1,1

In [192]:
avg_xG_home_team = team_home['xG_home'].mean(skipna=True)
avg_xG_home_team

1.4303030303030309

In [193]:
test_df.loc[test_df['Home'] == 0, 'xG_home'] = test_df.loc[test_df['Home'] == 0, 'xG_home'].fillna(avg_xG_home_team)

In [196]:
test_df.loc[test_df['Home'] == 19, 'xG_home'].info()

<class 'pandas.core.series.Series'>
Index: 185 entries, 33 to 3708
Series name: xG_home
Non-Null Count  Dtype
--------------  -----
185 non-null    float64
dtypes: float64(1)
memory usage: 2.9 KB

In [197]:
9*19

171

In [199]:
nan_rows = test_df[test_df['xG_home'].isna()]
print(nan_rows)

        Wk  Day        Date  Home  xG_home Score   xG_away  Away  Attendance  \
2574   1.0  Sun  2016-08-21    29      NaN   2–1  1.092188     4     24833.0
2595   3.0  Sun  2016-09-11    29      NaN   2–1  0.998246    26     22682.0
2621   6.0  Sat  2016-09-24    29      NaN   0–5  1.704687    14     26098.0
2646   8.0  Sun  2016-10-16    29      NaN   1–2  1.089844    11     25309.0
2660  10.0  Sat  2016-10-29    29      NaN   1–1  1.178125     1     22803.0
2686  12.0  Sun  2016-11-20    29      NaN   1–3  1.187597     2     23439.0
2706  14.0  Sun  2016-12-04    29      NaN   3–1  0.905556    12     25800.0
2720  16.0  Sat  2016-12-17    29      NaN   1–3  1.308594     6     19900.0
2744  18.0  Sun  2017-01-15    29      NaN   2–3  1.051316    24     20050.0
2773  21.0  Sun  2017-02-05    29      NaN   2–4  0.933636    16     21752.0
2787  23.0  Sat  2017-02-18    29      NaN   1–4  1.287500     9     24480.0
2804  24.0  Sun  2017-02-26    29      NaN   1–1  1.031008     5     24616.0
2822  26.0  Sun  2017-03-05    29      NaN   0–1  1.000000    27     24307.0
2846  28.0  Sun  2017-03-19    29      NaN   3–1  0.991549    17     25070.0
2864  30.0  Wed  2017-04-05    29      NaN   0–1  0.810526    28     24503.0
2880  32.0  Sat  2017-04-15    29      NaN   2–3  1.724806    19     23745.0
2898  34.0  Tue  2017-04-25    29      NaN   1–1  0.938947    21     20956.0
2919  36.0  Sat  2017-05-06    29      NaN   1–0  0.763636     3     21758.0
2940  38.0  Sat  2017-05-20    29      NaN   2–2  1.116406    15     16201.0
2955   1.0  Sun  2015-08-23    29      NaN   0–0  1.724806    19     28105.0
2971   3.0  Sat  2015-09-12    29      NaN   0–1  1.089844    11     23206.0
3005   6.0  Sun  2015-09-27    29      NaN   1–2  1.116406    15     23250.0
3028   8.0  Mon  2015-10-19    29      NaN   3–3  0.991549    17     19905.0
3047  10.0  Sun  2015-11-01    29      NaN   1–0  0.810526    28     22506.0
3064  12.0  Sun  2015-11-22    29      NaN   0–3  1.071579    23     19870.0
3086  14.0  Sun  2015-12-06    29      NaN   3–1  0.763636     3     22665.0
3127  18.0  Mon  2016-01-04    29      NaN   1–2  0.876744     7     20948.0
3148  21.0  Fri  2016-01-22    29      NaN   5–1  1.187597     2     23320.0
3172  23.0  Sat  2016-02-06    29      NaN   1–1  1.000000    27     21690.0
3178  24.0  Fri  2016-02-12    29      NaN   2–2  0.961111    18     21987.0
3188  16.0  Wed  2016-02-17    29      NaN   1–3  1.704687    14     28140.0
3201  26.0  Sat  2016-02-27    29      NaN   2–4  0.938947    21     22555.0
3226  28.0  Sun  2016-03-06    29      NaN   0–2  1.092188     4     23605.0
3240  30.0  Sat  2016-03-19    29      NaN   2–1  1.287500     9     24860.0
3264  32.0  Sun  2016-04-10    29      NaN   0–1  1.031008     5     24163.0
3284  34.0  Wed  2016-04-20    29      NaN   2–1  1.178125     1     22985.0
3299  36.0  Fri  2016-04-29    29      NaN   2–0  1.051316    24     26035.0
3327  38.0  Sun  2016-05-15    29      NaN   2–0  1.308594     6     27834.0
3341   2.0  Sat  2014-08-30    30      NaN   1–1  1.031008     5     15982.0
3366   4.0  Sun  2014-09-21    30      NaN   1–3  1.178125     1     17023.0
3388   6.0  Sun  2014-09-28    30      NaN   0–0  0.938947    21     24000.0
3403   8.0  Sat  2014-10-18    30      NaN   1–2  0.810526    28     17000.0
3414   9.0  Sat  2014-10-25    30      NaN   1–1  1.187597     2     15712.0
3429  11.0  Fri  2014-11-07    30      NaN   0–0  1.000000    27     15643.0
3456  13.0  Sun  2014-11-30    30      NaN   0–2  1.308594     6     15998.0
3472  15.0  Sat  2014-12-13    30      NaN   0–0  1.071579    23     14000.0
3497  17.0  Mon  2015-01-05    30      NaN   2–0  0.991549    17     18600.0
3508  19.0  Fri  2015-01-16    30      NaN   1–1  1.051316    24     16131.0
3518  20.0  Sat  2015-01-24    30      NaN   1–2  1.724806    19     21495.0
3544  22.0  Sun  2015-02-08    30      NaN   1–2  1.011765     0     17117.0
3561  24.0  Sat  2015-02-21    30      NaN   1–2  1.089844    11     17036.0
3588  26.0  Mon  2015-03-09    30      NaN   1–2  0.876744     7     15183.0
3611  29.0  Sat  2015-04-04    30      NaN   0–2  1.287500     9     17659.0
3637  31.0  Sun  2015-04-12    30      NaN   0–2  0.705263    22     14164.0
3649  33.0  Fri  2015-04-24    30      NaN   0–1  1.092188     4     16472.0
3670  35.0  Sat  2015-05-02    30      NaN   0–8  1.704687    14     13775.0
3692  37.0  Sun  2015-05-17    30      NaN   1–2  0.961111    18      7619.0

                  Referee     Season  goals_h  goals_a Time_group  target
2574          Carlos Clos  2016-2017        2        1          1       0
2595        Iñaki Bikandi  2016-2017        2        1          0       0
2621     Carlos del Cerro  2016-2017        0        5          1       1
2646    José Luis Munuera  2016-2017        1        2          1       1
2660     Ignacio Iglesias  2016-2017        1        1          0       2
2686        Juan Martínez  2016-2017        1        3          1       1
2706    Ricardo de Burgos  2016-2017        3        1          1       0
2720        Iñaki Bikandi  2016-2017        1        3          0       1
2744      David Fernández  2016-2017        2        3          1       1
2773            Jesús Gil  2016-2017        2        4          1       1
2787        José González  2016-2017        1        4          0       1
2804    Ricardo de Burgos  2016-2017        1        1          1       2
2822  Antonio Matéu Lahoz  2016-2017        0        1          0       1
2846           Daniel Ask  2016-2017        3        1          1       0
2864         José Sánchez  2016-2017        0        1          2       1
2880      David Fernández  2016-2017        2        3          1       1
2898         Mario Melero  2016-2017        1        1          1       2
2919       Santiago Jaime  2016-2017        1        0          0       0
2940     Ignacio Iglesias  2016-2017        2        2          1       2
2955           Daniel Ask  2015-2016        0        0          2       2
2971     Carlos del Cerro  2015-2016        0        1          1       1
3005        Juan Martínez  2015-2016        1        2          0       1
3028      Alfonso Álvarez  2015-2016        3        3          2       2
3047  Antonio Matéu Lahoz  2015-2016        1        0          1       0
3064         Mario Melero  2015-2016        0        3          0       1
3086      Alberto Undiano  2015-2016        3        1          1       0
3127           Daniel Ask  2015-2016        1        2          2       1
3148      David Fernández  2015-2016        5        1          2       0
3172  Alejandro Hernández  2015-2016        1        1          2       2
3178    Carlos Clos Gómez  2015-2016        2        2          2       2
3188    Ricardo de Burgos  2015-2016        1        3          1       1
3201       Carlos Velasco  2015-2016        2        4          1       1
3226     Carlos del Cerro  2015-2016        0        2          1       1
3240            Jesús Gil  2015-2016        2        1          1       0
3264  Antonio Matéu Lahoz  2015-2016        0        1          0       1
3284        José González  2015-2016        2        1          2       0
3299  Alejandro Hernández  2015-2016        2        0          2       0
3327      Alberto Undiano  2015-2016        2        0          1       0
3341        José Teixeira  2014-2015        1        1          1       2
3366       Carlos Velasco  2014-2015        1        3          1       1
3388       Santiago Jaime  2014-2015        0        0          2       2
3403        José González  2014-2015        1        2          2       1
3414     Carlos del Cerro  2014-2015        1        1          2       2
3429  Antonio Matéu Lahoz  2014-2015        0        0          2       2
3456           Daniel Ask  2014-2015        0        2          1       1
3472       Eduardo Prieto  2014-2015        0        0          2       2
3497        Iñaki Bikandi  2014-2015        2        0          2       0
3508    Fernando Teixeira  2014-2015        1        1          2       2
3518  Alejandro Hernández  2014-2015        1        2          1       1
3544        Fabián Blanco  2014-2015        1        2          0       1
3561      Alberto Undiano  2014-2015        1        2          1       1
3588      Alfonso Álvarez  2014-2015        1        2          2       1
3611           Daniel Ask  2014-2015        0        2          1       1
3637        Iñaki Bikandi  2014-2015        0        2          2       1
3649        José Teixeira  2014-2015        0        1          2       1
3670    Carlos Clos Gómez  2014-2015        0        8          1       1
3692  Antonio Matéu Lahoz  2014-2015        1        2          1       1

In [208]:
filtered_data = test_df[(test_df['Season'] == '2023-2024') & (test_df['Home'] == 19)]


average_goals_h = filtered_data['goals_h'].mean()

print("Average goals_h for Season 2023-2024, Home team 19:", average_goals_h)

Average goals_h for Season 2023-2024, Home team 19: 2.5

In [209]:
filtered_data_away = test_df[(test_df['Season'] == '2023-2024') & (test_df['Away'] == 4)]

average_goals_a = filtered_data_away['goals_a'].mean()

print("Average goals_a for Season 2023-2024, Away team 4:", average_goals_a)

Average goals_a for Season 2023-2024, Away team 4: 1.0

In [25]:
df_pred=scrape_future_fixtures(30, 2024)

In [26]:
df_pred

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes,Season
321,30.0,Fri,2024-03-29,21:00,Cádiz,1.6,1–0,0.5,Granada,15422.0,Estadio Nuevo Mirandilla,Guillermo Cuadra,Match Report,NaN,2023-2024
322,30.0,Sat,2024-03-30,14:00,Getafe,1.6,0–1,0.8,Sevilla,10139.0,Coliseum Alfonso Pérez,Javier Villanueva,Match Report,NaN,2023-2024
323,30.0,Sat,2024-03-30,16:15,Almería,0.6,0–3,1.0,Osasuna,10565.0,Power Horse Stadium,Pablo González,Match Report,NaN,2023-2024
324,30.0,Sat,2024-03-30,18:30,Valencia,1.5,0–0,0.8,Mallorca,42567.0,Estadio de Mestalla,Miguel Ángel Ortiz Arias,Match Report,NaN,2023-2024
325,30.0,Sat,2024-03-30,21:00,Barcelona,1.7,1–0,0.3,Las Palmas,46788.0,Estadi Olímpic Lluís Companys,Mateo Busquets,Match Report,NaN,2023-2024
326,30.0,Sun,2024-03-31,14:00,Celta Vigo,NaN,NaN,NaN,Rayo Vallecano,NaN,Estadio de Balaídos,NaN,Head-to-Head,NaN,2023-2024
327,30.0,Sun,2024-03-31,16:15,Girona,NaN,NaN,NaN,Betis,NaN,Estadi Municipal de Montilivi,NaN,Head-to-Head,NaN,2023-2024
328,30.0,Sun,2024-03-31,18:30,Alavés,NaN,NaN,NaN,Real Sociedad,NaN,Estadio de Mendizorroza,NaN,Head-to-Head,NaN,2023-2024
329,30.0,Sun,2024-03-31,21:00,Real Madrid,NaN,NaN,NaN,Athletic Club,NaN,Estadio Santiago Bernabéu,NaN,Head-to-Head,NaN,2023-2024
330,30.0,Mon,2024-04-01,21:00,Villarreal,NaN,NaN,NaN,Atlético Madrid,NaN,Estadio de la Cerámica,NaN,Head-to-Head,NaN,2023-2024

In [12]:
df2 = pd.read_html("https://fbref.com/en/matches/525758cc/Sevilla-Valencia-August-11-2023-La-Liga")[3]

In [13]:
df2

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
               Player                  #             Nation
0   Youssef En-Nesyri               15.0             ma MAR
1    Federico Gattoni                2.0             ar ARG
2         Érik Lamela               17.0             ar ARG
3       Óliver Torres               21.0             es ESP
4       Lucas Ocampos                5.0             ar ARG
5                Suso                7.0             es ESP
6        Ivan Rakitić               10.0             hr CRO
7            Fernando               20.0             br BRA
8         Djibril Sow               18.0             ch SUI
9        Marcos Acuña               19.0             ar ARG
10     Nemanja Gudelj                6.0             rs SRB
11          Loïc Bade               22.0             fr FRA
12        Jesús Navas               16.0             es ESP
13     Juanlu Sánchez               26.0             es ESP
14     Yassine Bounou               13.0             ma MAR
15         15 Players                NaN                NaN

   Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0 Performance      \
                  Pos                Age                Min         Gls Ast
0                  FW             26-071                 81           1   0
1                  CB             24-176                  9           0   0
2                  LW             31-160                 55           0   0
3                  AM             28-274                 35           0   0
4               RW,LW             29-031                 90           0   0
5               AM,RW             29-265                 90           0   1
6                  DM             35-154                 90           0   0
7                  DM             36-017                 68           0   0
8                  DM             26-186                 22           0   0
9                  LB             31-287                 90           0   0
10                 CB             31-268                 90           0   0
11                 CB             23-122                 80           0   0
12                 RB             37-263                 68           0   0
13                 RB             19-361                 22           0   0
14                 GK             32-128                 90           0   0
15                NaN                NaN                980           1   1

             ... SCA     Passes                 Carries      Take-Ons
   PK PKatt  ... SCA GCA    Cmp  Att  Cmp% PrgP Carries PrgC      Att Succ
0   0     0  ...   0   0      3    6  50.0    0       8    1        3    0
1   0     0  ...   0   0      5    6  83.3    0       2    0        0    0
2   0     0  ...   1   0      6    7  85.7    0       9    0        1    0
3   0     0  ...   1   0     13   18  72.2    1      13    1        1    0
4   0     0  ...   1   0     15   26  57.7    1      28    4        4    0
5   0     0  ...   4   2     23   39  59.0    3      32    3        3    1
6   0     0  ...   2   0     46   69  66.7    2      40    3        5    2
7   0     0  ...   1   0     25   30  83.3    2      24    0        3    1
8   0     0  ...   0   0      8   10  80.0    1       7    0        0    0
9   0     0  ...   4   0     49   68  72.1    5      36    2        3    1
10  0     0  ...   0   0     43   63  68.3    4      44    0        0    0
11  0     0  ...   0   0     40   46  87.0    2      28    0        0    0
12  0     0  ...   2   0     32   42  76.2    2      25    0        1    0
13  0     0  ...   1   0     11   13  84.6    0       8    1        2    2
14  0     0  ...   0   0     20   31  64.5    0      16    0        0    0
15  0     0  ...  17   2    339  474  71.5   23     320   15       26    7

[16 rows x 31 columns]