In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("clean_data.csv")

In [3]:
df.head()

,Unnamed: 0,date,round,day,venue,gf,ga,opponent,xg,xga,...,sh,sot,dist,fk,pk,pkatt,season,team,time_group,target
0,0,2023-08-12,1,5,1,2.0,0.0,0,0.9,0.4,...,14.0,8.0,16.0,2.0,0,0,2024,19,2,0
1,1,2023-08-19,2,5,1,3.0,1.0,1,2.0,1.3,...,25.0,9.0,17.0,1.0,0,0,2024,19,1,0
2,2,2023-08-25,3,4,1,1.0,0.0,2,1.4,1.2,...,9.0,2.0,19.4,0.0,0,1,2024,19,2,0
3,3,2023-09-02,4,5,0,2.0,1.0,3,2.8,0.4,...,26.0,12.0,17.7,0.0,0,0,2024,19,1,0
4,4,2023-09-17,5,6,0,2.0,1.0,4,2.0,1.6,...,17.0,8.0,15.9,1.0,0,0,2024,19,2,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5156 entries, 0 to 5155
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5156 non-null   int64
 1   date        5156 non-null   object
 2   round       5156 non-null   int64
 3   day         5156 non-null   int64
 4   venue       5156 non-null   int64
 5   gf          5156 non-null   float64
 6   ga          5156 non-null   float64
 7   opponent    5156 non-null   int64
 8   xg          5156 non-null   float64
 9   xga         5156 non-null   float64
 10  poss        5156 non-null   float64
 11  captain     5156 non-null   object
 12  formation   5156 non-null   object
 13  referee     5156 non-null   object
 14  sh          5156 non-null   float64
 15  sot         5156 non-null   float64
 16  dist        5154 non-null   float64
 17  fk          5156 non-null   float64
 18  pk          5156 non-null   int64
 19  pkatt       5156 non-null   int64
 20  season      5156 non-null   int64
 21  team        5156 non-null   int64
 22  time_group  5156 non-null   int64
 23  target      5156 non-null   int64
dtypes: float64(9), int64(11), object(4)
memory usage: 966.9+ KB

In [3]:
df.set_index('Unnamed: 0', inplace=True)

In [4]:
df.index.name = None

In [44]:
df[df["dist"].isna()]

,date,round,day,venue,gf,ga,opponent,xg,xga,poss,...,sh,sot,dist,fk,pk,pkatt,season,team,time_group,target
39,2022-03-05,27,5,1,1.0,4.0,19,0.8,2.0,36.0,...,0.0,0.0,NaN,0.0,1,1,2022,4,2,1
33,2021-04-18,33,6,1,0.0,5.0,5,0.0,1.9,39.0,...,0.0,0.0,NaN,0.0,0,0,2021,25,1,1

In [ ]:
#Tengo 2 nulos en la columna dist, vamos a utilizar la media del equipo para la temporada en la que se encuentra el nulo

In [5]:
mean=df[(df["team"] == 4) & (df["season"]==2022) & (df["venue"]==1)].dist.mean()

In [6]:
mean2=df[(df["team"] == 25) & (df["season"]==2021) & (df["venue"]==1)].dist.mean()

In [7]:
df.loc[(df["team"] == 4) & (df["season"] == 2022) & (df["venue"] == 1) & df["dist"].isna(), "dist"] = mean

In [8]:
df.loc[(df["team"] == 25) & (df["season"] == 2021) & (df["venue"] == 1) & df["dist"].isna(), "dist"] = mean2

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5160 entries, 0 to 39
Data columns (total 22 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       5160 non-null   object
 1   time       5160 non-null   object
 2   round      5160 non-null   int64
 3   day        5160 non-null   int64
 4   venue      5160 non-null   int64
 5   gf         5160 non-null   float64
 6   ga         5160 non-null   float64
 7   opponent   5160 non-null   int64
 8   xg         5160 non-null   float64
 9   xga        5160 non-null   float64
 10  poss       5160 non-null   float64
 11  formation  5160 non-null   object
 12  referee    5160 non-null   object
 13  sh         5160 non-null   float64
 14  sot        5160 non-null   float64
 15  dist       5160 non-null   float64
 16  fk         5160 non-null   float64
 17  pk         5160 non-null   int64
 18  pkatt      5160 non-null   int64
 19  season     5160 non-null   int64
 20  team       5160 non-null   int64
 21  target     5160 non-null   int64
dtypes: float64(9), int64(9), object(4)
memory usage: 927.2+ KB

In [9]:
df2 = df.copy()

In [54]:
print(df[((df["team"] == 1) | (df["opponent"] == 1))].date.value_counts())

date
2023-08-19    2
2023-05-13    2
2023-02-17    2
2022-10-20    2
2023-05-20    2
             ..
2023-10-01    2
2024-02-18    2
2022-11-05    2
2023-02-26    2
2023-06-04    2
Name: count, Length: 68, dtype: int64

In [57]:
df["season"].unique()

array([2024, 2023, 2022, 2021, 2020, 2019, 2018], dtype=int64)

In [9]:
home = df[df["venue"]==0]

In [10]:
away = df[df["venue"] == 1]

In [78]:
test_home.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2580 entries, 3 to 39
Data columns (total 22 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       2580 non-null   object
 1   time       2580 non-null   object
 2   round      2580 non-null   int64
 3   day        2580 non-null   int64
 4   venue      2580 non-null   int64
 5   gf         2580 non-null   float64
 6   ga         2580 non-null   float64
 7   opponent   2580 non-null   int64
 8   xg         2580 non-null   float64
 9   xga        2580 non-null   float64
 10  poss       2580 non-null   float64
 11  formation  2580 non-null   object
 12  referee    2580 non-null   object
 13  sh         2580 non-null   float64
 14  sot        2580 non-null   float64
 15  dist       2580 non-null   float64
 16  fk         2580 non-null   float64
 17  pk         2580 non-null   int64
 18  pkatt      2580 non-null   int64
 19  season     2580 non-null   int64
 20  team       2580 non-null   int64
 21  target     2580 non-null   int64
dtypes: float64(9), int64(9), object(4)
memory usage: 463.6+ KB

In [11]:
merged = pd.merge(home, away, suffixes = ("_home", "_away"), on = ["date", "time", "round", "day", "referee", "season"], how = "left")

In [85]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 38 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            2580 non-null   object
 1   time            2580 non-null   object
 2   round           2580 non-null   int64
 3   day             2580 non-null   int64
 4   venue_home      2580 non-null   int64
 5   gf_home         2580 non-null   float64
 6   ga_home         2580 non-null   float64
 7   opponent_home   2580 non-null   int64
 8   xg_home         2580 non-null   float64
 9   xga_home        2580 non-null   float64
 10  poss_home       2580 non-null   float64
 11  formation_home  2580 non-null   object
 12  referee         2580 non-null   object
 13  sh_home         2580 non-null   float64
 14  sot_home        2580 non-null   float64
 15  dist_home       2580 non-null   float64
 16  fk_home         2580 non-null   float64
 17  pk_home         2580 non-null   int64
 18  pkatt_home      2580 non-null   int64
 19  season          2580 non-null   int64
 20  team_home       2580 non-null   int64
 21  target_home     2580 non-null   int64
 22  venue_away      2580 non-null   int64
 23  gf_away         2580 non-null   float64
 24  ga_away         2580 non-null   float64
 25  opponent_away   2580 non-null   int64
 26  xg_away         2580 non-null   float64
 27  xga_away        2580 non-null   float64
 28  poss_away       2580 non-null   float64
 29  formation_away  2580 non-null   object
 30  sh_away         2580 non-null   float64
 31  sot_away        2580 non-null   float64
 32  dist_away       2580 non-null   float64
 33  fk_away         2580 non-null   float64
 34  pk_away         2580 non-null   int64
 35  pkatt_away      2580 non-null   int64
 36  team_away       2580 non-null   int64
 37  target_away     2580 non-null   int64
dtypes: float64(18), int64(15), object(5)
memory usage: 766.1+ KB

In [13]:
merged[(merged["season"]==2023) & (merged["round"] == 38)]

,date,time,round,day,venue_home,gf_home,ga_home,opponent_home,xg_home,xga_home,...,poss_away,formation_away,sh_away,sot_away,dist_away,fk_away,pk_away,pkatt_away,team_away,target_away
337,2023-06-04,18:30,38,6,0,1.0,1.0,0,1.8,2.3,...,36.0,4-2-3-1,14.0,8.0,18.6,0.0,0,1,0,2
375,2023-06-04,18:30,38,6,0,2.0,1.0,9,1.8,0.4,...,45.0,4-2-3-1,9.0,4.0,20.6,0.0,0,0,9,1
394,2023-06-04,18:30,38,6,0,2.0,2.0,5,1.6,1.8,...,34.0,5-3-2,9.0,3.0,11.8,0.0,0,0,5,2
413,2023-06-04,21:00,38,6,0,1.0,1.0,12,0.6,1.2,...,39.0,4-2-3-1,10.0,3.0,19.9,1.0,0,0,12,2
432,2023-06-04,18:30,38,6,0,2.0,1.0,7,1.8,0.9,...,63.0,4-1-4-1,11.0,6.0,17.0,0.0,0,0,7,1
470,2023-06-04,18:30,38,6,0,3.0,0.0,11,2.2,1.1,...,53.0,4-3-1-2,21.0,4.0,21.4,0.0,0,0,11,1
546,2023-06-04,21:00,38,6,0,2.0,1.0,10,0.7,1.2,...,71.0,4-3-3,9.0,2.0,16.5,0.0,0,0,10,1
641,2023-06-04,21:00,38,6,0,0.0,0.0,3,0.9,0.5,...,22.0,4-4-2,4.0,1.0,12.2,0.0,0,0,3,2
660,2023-06-04,21:00,38,6,0,3.0,3.0,1,0.6,1.8,...,37.0,4-3-3,10.0,3.0,17.1,0.0,1,1,1,2
679,2023-06-04,21:00,38,6,0,1.0,1.0,13,1.6,2.5,...,34.0,4-4-2,14.0,3.0,18.0,1.0,0,0,13,2

In [12]:
merged.drop(columns=['venue_home', 'venue_away', 'opponent_away', 'xg_away', 'xga_away', 'team_away', 'target_away',"gf_away", "ga_away"], inplace=True)

In [13]:
new_col = {'gf_home': 'goals_home', 'ga_home': 'goals_away', 'opponent_home' : 'away_team', 'xga_home': 'xg_away', 'team_home' : 'home_team', 'target_home' : 'target' }

In [14]:
merged = merged.rename(columns=new_col)

In [17]:
merged['time'] = pd.to_datetime(merged['time']).dt.hour
merged['time_group'] = pd.cut(merged['time'], bins=[0, 16, 20, 24], labels=[0, 1, 2], right=False)

C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\847186220.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  merged['time'] = pd.to_datetime(merged['time']).dt.hour

In [15]:
merged.head()

,date,time,round,day,goals_home,goals_away,away_team,xg_home,xg_away,poss_home,...,home_team,target,poss_away,formation_away,sh_away,sot_away,dist_away,fk_away,pk_away,pkatt_away
0,2023-09-02,16:15,4,5,2.0,1.0,3,2.8,0.4,76.0,...,19,0,24.0,4-1-3-2,6.0,2.0,19.9,0.0,0,0
1,2023-09-17,21:00,5,6,2.0,1.0,4,2.0,1.6,52.0,...,19,0,48.0,4-3-3,15.0,5.0,17.6,0.0,0,0
2,2023-09-27,19:00,7,2,2.0,0.0,6,1.7,0.7,48.0,...,19,0,52.0,4-5-1,16.0,2.0,21.5,1.0,0,0
3,2023-10-07,16:15,9,5,4.0,0.0,8,3.2,0.5,67.0,...,19,0,33.0,4-3-3,7.0,1.0,24.4,0.0,0,0
4,2023-11-05,21:00,12,6,0.0,0.0,11,2.2,0.1,63.0,...,19,2,37.0,4-1-4-1,4.0,0.0,23.3,0.0,0,0

In [16]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 29 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            2580 non-null   object
 1   time            2580 non-null   object
 2   round           2580 non-null   int64
 3   day             2580 non-null   int64
 4   goals_home      2580 non-null   float64
 5   goals_away      2580 non-null   float64
 6   away_team       2580 non-null   int64
 7   xg_home         2580 non-null   float64
 8   xg_away         2580 non-null   float64
 9   poss_home       2580 non-null   float64
 10  formation_home  2580 non-null   object
 11  referee         2580 non-null   object
 12  sh_home         2580 non-null   float64
 13  sot_home        2580 non-null   float64
 14  dist_home       2580 non-null   float64
 15  fk_home         2580 non-null   float64
 16  pk_home         2580 non-null   int64
 17  pkatt_home      2580 non-null   int64
 18  season          2580 non-null   int64
 19  home_team       2580 non-null   int64
 20  target          2580 non-null   int64
 21  poss_away       2580 non-null   float64
 22  formation_away  2580 non-null   object
 23  sh_away         2580 non-null   float64
 24  sot_away        2580 non-null   float64
 25  dist_away       2580 non-null   float64
 26  fk_away         2580 non-null   float64
 27  pk_away         2580 non-null   int64
 28  pkatt_away      2580 non-null   int64
dtypes: float64(14), int64(10), object(5)
memory usage: 584.7+ KB

In [17]:
columns = merged.columns.to_list()

In [18]:
columns.insert(4, columns.pop(columns.index('home_team')))

In [19]:
columns.insert(5, columns.pop(columns.index('away_team')))

In [20]:
merged = merged.reindex(columns=columns)

In [21]:
merged.to_csv("clean_data_final.csv")

In [38]:
features = ["round", "day", "away_team", "xg_home", "xg_away", "poss_home", "sh_home", "sot_home", "dist_home", "fk_home", "pk_home", 
            "pkatt_home", "home_team", "time_group", "poss_away", "sh_away", "sot_away", "dist_away", "fk_away", "pk_away", "pkatt_away"]

In [39]:
X = merged[features]
y = merged['target']

In [40]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=42)

In [41]:
rf_classifier = RandomForestClassifier(n_estimators= 2, random_state=42)

In [42]:
rf_classifier.fit(X_train, y_train)

RandomForestClassifier(n_estimators=2, random_state=42)

In [43]:
y_pred = rf_classifier.predict(X_test)

In [44]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.501937984496124

In [ ]:
#como no vamos a tener ninguno de estos datos previo al partido, vamos a transformar las estadisticas a un "Rolling Average" y usar eso para modelar.

In [22]:
df_new = merged.copy()

In [31]:
cols = ["xg_home", "xg_away", "poss_home", "sh_home", "sot_home", "dist_home", "fk_home", "pk_home", "goals_home", "goals_away", 
            "pkatt_home", "poss_away", "sh_away", "sot_away", "dist_away", "fk_away", "pk_away", "pkatt_away"]

In [32]:
new_cols = [f"{col}_rolling" for col in cols]

In [33]:
new_cols

['xg_home_rolling',
 'xg_away_rolling',
 'poss_home_rolling',
 'sh_home_rolling',
 'sot_home_rolling',
 'dist_home_rolling',
 'fk_home_rolling',
 'pk_home_rolling',
 'goals_home_rolling',
 'goals_away_rolling',
 'pkatt_home_rolling',
 'poss_away_rolling',
 'sh_away_rolling',
 'sot_away_rolling',
 'dist_away_rolling',
 'fk_away_rolling',
 'pk_away_rolling',
 'pkatt_away_rolling']

In [136]:
jornada = merged[(merged["round"] == 1) & (merged["season"] == 2024)]

In [146]:
home_matches = df_new[['season', 'round', 'home_team'] + columns]
away_matches = df_new[['season', 'round', 'away_team'] + columns]

In [152]:
df_new = df_new.sort_values(by=['date']).reset_index(drop=True)

In [168]:
df_new[new_cols] = 0

In [45]:
home_cols = [col for col in df_new.columns if col.endswith("_home")]
away_cols = [col for col in df_new.columns if col.endswith("_away")]

In [66]:
del home_cols[3]

In [67]:
del away_cols[3]

In [185]:
df2 = df_new.copy()

In [72]:
home_cols_new = [col + "_rolling" for col in home_cols]

In [75]:
away_cols_new = [col + "_rolling" for col in away_cols]

In [169]:
for season in df_new["season"].unique():
    for team in df_new[df_new["season"] == season].home_team.unique():
        for round in range(1,39):
            if season == 2024 and round >= 30:
                break
            if round == 1:
                query_result_home = df_new[(df_new["round"] == 1) & (df_new["home_team"] == team) & (df_new["season"] == season)][home_cols]
                query_result_away = df_new[(df_new["round"] == 1) & (df_new["away_team"] == team) & (df_new["season"] == season)][away_cols]
                if query_result_home.empty:
                    index = df_new[(df_new["round"] == 1) & (df_new["away_team"] == team) & (df_new["season"] == season)].index[0]
                    round_one_stats = [df_new.loc[index, source_col] for source_col in away_cols]
                    
                else:
                    index = df_new[(df_new["round"] == 1) & (df_new["home_team"] == team) & (df_new["season"] == season)].index[0]
                    round_one_stats = [df_new.loc[index, source_col] for source_col in home_cols]
                continue
                
            if round == 2:
                query_result_home = df_new[(df_new["round"] == 2) & (df_new["home_team"] == team) & (df_new["season"] == season)][home_cols]
                query_result_away = df_new[(df_new["round"] == 2) & (df_new["away_team"] == team) & (df_new["season"] == season)][away_cols]
                
                if query_result_home.empty:
                    index= df_new[(df_new["round"] == 2) & (df_new["away_team"] == team) & (df_new["season"] == season)].index[0]
                    round_two_stats = [df_new.loc[index, source_col] for source_col in away_cols]
                    df_new.loc[index, away_cols_new] = round_one_stats                   

                else:
                    index= df_new[(df_new["round"] == 2) & (df_new["home_team"] == team) & (df_new["season"] == season)].index[0]
                    round_two_stats = [df_new.loc[index, source_col] for source_col in home_cols]
                    df_new.loc[index, home_cols_new] = round_one_stats 
                continue
            
            if round == 3:
                query_result_home = df_new[(df_new["round"] == 3) & (df_new["home_team"] == team) & (df_new["season"] == season)][home_cols]
                query_result_away = df_new[(df_new["round"] == 3) & (df_new["away_team"] == team) & (df_new["season"] == season)][away_cols]
                
                if query_result_home.empty:
                    index= df_new[(df_new["round"] == 3) & (df_new["away_team"] == team) & (df_new["season"] == season)].index[0]
                    round_three_rolling = [ (x + y)/2 for x, y in zip(round_one_stats, round_two_stats)]
                    df_new.loc[index, away_cols_new] = round_three_rolling                    

                else:
                    index= df_new[(df_new["round"] == 3) & (df_new["home_team"] == team) & (df_new["season"] == season)].index[0]
                    round_three_rolling = [ (x + y)/2 for x, y in zip(round_one_stats, round_two_stats)]
                    df_new.loc[index, home_cols_new] = round_three_rolling
                continue
            else:
                query_result_home = df_new[(df_new["round"] == round) & (df_new["home_team"] == team) & (df_new["season"] == season)][home_cols]
                query_result_away = df_new[(df_new["round"] == round) & (df_new["away_team"] == team) & (df_new["season"] == season)][away_cols]
                
                if query_result_home.empty:

                    index= df_new[(df_new["round"] == round) & (df_new["away_team"] == team) & (df_new["season"] == season)].index[0]
                    query_one_home = df_new[(df_new["round"] == round-3) & (df_new["home_team"] == team) & (df_new["season"] == season)][home_cols]
                    query_one_away = df_new[(df_new["round"] == round-3) & (df_new["away_team"] == team) & (df_new["season"] == season)][away_cols]
                    query_two_home = df_new[(df_new["round"] == round-2) & (df_new["home_team"] == team) & (df_new["season"] == season)][home_cols]
                    query_two_away = df_new[(df_new["round"] == round-2) & (df_new["away_team"] == team) & (df_new["season"] == season)][away_cols]
                    query_three_home = df_new[(df_new["round"] == round-1) & (df_new["home_team"] == team) & (df_new["season"] == season)][home_cols]
                    query_three_away = df_new[(df_new["round"] == round-1) & (df_new["away_team"] == team) & (df_new["season"] == season)][away_cols]
                                    
                    if query_one_home.empty:

                        first_index = df_new[(df_new["round"] == round-3) & (df_new["away_team"] == team) & (df_new["season"] == season)][away_cols].index[0]
                        round_x_stats= [df_new.loc[first_index, source_col] for source_col in away_cols]
                    else:
                        first_index = df_new[(df_new["round"] == round-3) & (df_new["home_team"] == team) & (df_new["season"] == season)][home_cols].index[0]
                        round_x_stats= [df_new.loc[first_index, source_col] for source_col in home_cols]
                                     
                    if query_two_home.empty:
                        second_index = df_new[(df_new["round"] == round-2) & (df_new["away_team"] == team) & (df_new["season"] == season)][away_cols].index[0]
                        round_y_stats= [df_new.loc[second_index, source_col] for source_col in away_cols]
                    else:
                        second_index = df_new[(df_new["round"] == round-2) & (df_new["home_team"] == team) & (df_new["season"] == season)][home_cols].index[0]
                        round_y_stats= [df_new.loc[second_index, source_col] for source_col in home_cols] 
                                     
                    if query_three_home.empty:
                        third_index = df_new[(df_new["round"] == round-1) & (df_new["away_team"] == team) & (df_new["season"] == season)][away_cols].index[0]
                        round_z_stats= [df_new.loc[third_index, source_col] for source_col in away_cols]
                    else:
                        third_index = df_new[(df_new["round"] == round-1) & (df_new["home_team"] == team) & (df_new["season"] == season)][home_cols].index[0]
                        round_z_stats= [df_new.loc[third_index, source_col] for source_col in home_cols]                                      
                        
                    
                    rolling_avg = [ (x + y + z)/3 for x, y, z in zip(round_x_stats, round_y_stats, round_z_stats)]
                    df_new.loc[index, away_cols_new] = rolling_avg                

                else:
                    index= df_new[(df_new["round"] == round) & (df_new["home_team"] == team) & (df_new["season"] == season)].index[0]
                    query_one_home = df_new[(df_new["round"] == round-3) & (df_new["home_team"] == team) & (df_new["season"] == season)][home_cols]
                    query_one_away = df_new[(df_new["round"] == round-3) & (df_new["away_team"] == team) & (df_new["season"] == season)][away_cols]
                    query_two_home = df_new[(df_new["round"] == round-2) & (df_new["home_team"] == team) & (df_new["season"] == season)][home_cols]
                    query_two_away = df_new[(df_new["round"] == round-2) & (df_new["away_team"] == team) & (df_new["season"] == season)][away_cols]
                    query_three_home = df_new[(df_new["round"] == round-1) & (df_new["home_team"] == team) & (df_new["season"] == season)][home_cols]
                    query_three_away = df_new[(df_new["round"] == round-1) & (df_new["away_team"] == team) & (df_new["season"] == season)][away_cols]
                                    
                    if query_one_home.empty:
                        first_index = df_new[(df_new["round"] == round-3) & (df_new["away_team"] == team) & (df_new["season"] == season)][away_cols].index[0]
                        round_x_stats= [df_new.loc[first_index, source_col] for source_col in away_cols]
                    else:
                        first_index = df_new[(df_new["round"] == round-3) & (df_new["home_team"] == team) & (df_new["season"] == season)][home_cols].index[0]
                        round_x_stats= [df_new.loc[first_index, source_col] for source_col in home_cols]
                                     
                    if query_two_home.empty:
                        second_index = df_new[(df_new["round"] == round-2) & (df_new["away_team"] == team) & (df_new["season"] == season)][away_cols].index[0]
                        round_y_stats= [df_new.loc[second_index, source_col] for source_col in away_cols]
                    else:
                        second_index = df_new[(df_new["round"] == round-2) & (df_new["home_team"] == team) & (df_new["season"] == season)][home_cols].index[0]
                        round_y_stats= [df_new.loc[second_index, source_col] for source_col in home_cols] 
                                     
                    if query_three_home.empty:
                        third_index = df_new[(df_new["round"] == round-1) & (df_new["away_team"] == team) & (df_new["season"] == season)][away_cols].index[0]
                        round_z_stats= [df_new.loc[third_index, source_col] for source_col in away_cols]
                    else:
                        third_index = df_new[(df_new["round"] == round-1) & (df_new["home_team"] == team) & (df_new["season"] == season)][home_cols].index[0]
                        round_z_stats= [df_new.loc[third_index, source_col] for source_col in home_cols]                                      
                        
                    
                    rolling_avg = [ (x + y + z)/3 for x, y, z in zip(round_x_stats, round_y_stats, round_z_stats)]
                    df_new.loc[index, home_cols_new] = rolling_avg

C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\3835659.py:25: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.9' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[index, away_cols_new] = round_one_stats
C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\3835659.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[index, away_cols_new] = round_three_rolling
C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\3835659.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '55.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[index, away_cols_new] = round_three_rolling
C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\3835659.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '19.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[index, away_cols_new] = round_three_rolling
C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\3835659.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '8.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[index, away_cols_new] = round_three_rolling
C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\3835659.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '16.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[index, away_cols_new] = round_three_rolling
C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\3835659.py:40: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[index, away_cols_new] = round_three_rolling
C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\3835659.py:119: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.4333333333333333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[index, home_cols_new] = rolling_avg
C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\3835659.py:119: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '6.333333333333333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[index, home_cols_new] = rolling_avg
C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\3835659.py:119: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '17.466666666666665' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[index, home_cols_new] = rolling_avg
C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\3835659.py:119: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.3333333333333333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[index, home_cols_new] = rolling_avg
C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\3835659.py:119: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '65.33333333333333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[index, home_cols_new] = rolling_avg
C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\3835659.py:119: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.3333333333333333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[index, home_cols_new] = rolling_avg
C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\3835659.py:85: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.3333333333333333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[index, away_cols_new] = rolling_avg
C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\3835659.py:119: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.6666666666666667' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[index, home_cols_new] = rolling_avg
C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\3835659.py:119: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '18.333333333333332' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[index, home_cols_new] = rolling_avg
C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\3835659.py:85: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.3333333333333333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[index, away_cols_new] = rolling_avg
C:\Users\Pedro\AppData\Local\Temp\ipykernel_9504\3835659.py:119: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.3333333333333333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[index, home_cols_new] = rolling_avg

In [166]:
df_new[(df_new["round"] == 4) & (df_new["season"] == 2024)]

,date,time,round,day,home_team,away_team,goals_home,goals_away,xg_home,xg_away,...,goals_home_rolling,goals_away_rolling,pkatt_home_rolling,poss_away_rolling,sh_away_rolling,sot_away_rolling,dist_away_rolling,fk_away_rolling,pk_away_rolling,pkatt_away_rolling
0,2023-09-02,16,4,5,19,3,2.0,1.0,2.8,0.4,...,2.000000,0.333333,0.333333,36.666667,9.333333,2.333333,15.633333,0.333333,0.333333,0.333333
32,2023-09-03,14,4,6,7,6,1.0,0.0,1.0,1.1,...,2.000000,0.333333,0.000000,60.333333,7.333333,2.333333,23.966667,0.333333,0.333333,0.333333
55,2023-12-23,16,4,5,5,9,1.0,0.0,0.9,0.3,...,3.333333,1.666667,0.000000,57.666667,14.000000,3.000000,20.533333,1.666667,0.000000,0.000000
78,2023-09-02,14,4,5,4,14,5.0,3.0,2.3,0.8,...,0.666667,1.333333,0.000000,51.666667,10.000000,4.666667,17.166667,0.333333,0.333333,0.333333
106,2023-09-02,21,4,5,15,11,1.0,0.0,1.0,1.5,...,1.333333,1.333333,0.000000,49.333333,12.333333,4.666667,19.533333,1.000000,0.666667,0.666667
121,2023-09-03,21,4,6,8,10,1.0,2.0,0.8,2.0,...,1.333333,2.000000,0.333333,69.333333,19.666667,8.000000,17.400000,1.000000,0.000000,0.000000
182,2023-09-02,18,4,5,17,12,1.0,0.0,1.3,0.8,...,1.333333,1.333333,0.000000,49.333333,11.333333,3.333333,16.300000,0.333333,0.333333,0.333333
212,2023-09-03,16,4,6,18,0,0.0,0.0,0.4,0.6,...,1.000000,2.000000,0.666667,43.666667,9.000000,2.333333,17.000000,0.333333,0.666667,0.666667
257,2023-09-01,19,4,4,13,16,3.0,1.0,2.1,0.3,...,0.666667,1.666667,0.000000,54.333333,15.333333,4.666667,16.033333,0.333333,0.000000,0.000000
287,2023-09-01,22,4,4,1,2,2.0,3.0,3.0,1.5,...,0.666667,0.333333,0.000000,45.666667,13.666667,3.333333,16.066667,0.333333,0.000000,0.000000

In [184]:
df_new.to_csv("rolling_avg_final.csv")

In [ ]:
#modelamos con nuestras nuevos valores

In [186]:
new_cols

['xg_home_rolling',
 'xg_away_rolling',
 'poss_home_rolling',
 'sh_home_rolling',
 'sot_home_rolling',
 'dist_home_rolling',
 'fk_home_rolling',
 'pk_home_rolling',
 'goals_home_rolling',
 'goals_away_rolling',
 'pkatt_home_rolling',
 'poss_away_rolling',
 'sh_away_rolling',
 'sot_away_rolling',
 'dist_away_rolling',
 'fk_away_rolling',
 'pk_away_rolling',
 'pkatt_away_rolling']

In [ ]:
df_new[(df_new["season"] == 2024) & (df_new["home"])]

In [187]:
features = ["round", "day", "away_team", "home_team", "time_group", 'xg_home_rolling', 'xg_away_rolling', 'poss_home_rolling', 'sh_home_rolling',
 'sot_home_rolling', 'dist_home_rolling', 'fk_home_rolling', 'pk_home_rolling', 'goals_home_rolling', 'goals_away_rolling', 'pkatt_home_rolling',
 'poss_away_rolling', 'sh_away_rolling', 'sot_away_rolling', 'dist_away_rolling', 'fk_away_rolling', 'pk_away_rolling', 'pkatt_away_rolling']

In [189]:
X = df_new[features]
y = df_new['target']

In [190]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=42)

In [191]:
rf_classifier = RandomForestClassifier(random_state=42)

In [192]:
rf_classifier.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [193]:
y_pred = rf_classifier.predict(X_test)

In [194]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.4437984496124031